[2017-05-08 17:35] benjaminjs opened #1 "Support for Geospatial Queries"
Would be super useful for a lot of different types of spatial analysis.

[2017-05-08 17:47] billmaimone commented on #1
Definitely, we can collaborate on this.

[2017-05-08 18:02] asuhan commented on #1
Note that there's a `distance_in_meters` function you can call to find the distance between two WGS-84 positions: https://github.com/mapd/mapd-core/blob/master/QueryEngine/ExtensionFunctions.hpp#L227.

[2017-05-08 18:30] benjaminjs commented on #1
Yeah, I've dug through the docs on the website. Looking for stuff like ST_Contains for polygons and points.

But the link to the source code is quite handy for seeing how these functions are implemented.

[2017-05-08 20:44] m1mc commented on #1
`contains` should be easy by adding another function to compute barycentric coordinates w/ it for triangles and dot product for others etc.

[2017-05-08 20:48] asuhan opened #2 "Improve literal hoisting"
Currently, we generate memory loads (from the literal buffer) when the literal node is visited and rely on loop invariant code motion pass to hoist these loads outside of the query loop. This is a heavy-handed use of LICM and might sometimes not be optimized. We should collect the constant expression with a visitor and generate the loads in the entry block.

[2017-05-10 12:19] ingenieroariel opened #3 "aarch64 - StorageTest fails"
On Nvidia's Tegra TX2 I was able to build mapd by doing:

1. Removed a compiler flag from folly and it compiled successfully.
2. Added the right java path to LD_LIBRARY_PATH: `LD_LIBRARY_PATH=/usr/lib/jvm/java-8-openjdk-arm64/jre/lib/aarch64/server:$LD_LIBRARY_PATH`

After compiling mapd, the sanity_tests say 83% success (1 of 6) and StorageTest fails without giving an specific error.

[code]

[2017-05-10 18:18] asuhan commented on #3
@ingenieroariel Thanks! We'll try to get access to a TX2. Meanwhile, could you run `StorageTest` under gdb and `catch throw` to get the backtrace? Might be something as easy as running out of disk space, but this is just an uneducated guess.

[2017-05-10 21:16] ingenieroariel commented on #3
This is what I got:

[code]

[2017-05-10 21:23] asuhan commented on #3
From this log, looks like the OOM killer. You can check the `dmesg` output for lines which contain `oom-killer` or `Out of memory: Killed process <pid of the StorageTest>`. The storage tests are pretty heavy on memory usage and we should probably scale them down if we want to run on relatively small (for this type of software) memory footprints.

[2017-05-10 23:33] ingenieroariel commented on #3
Yep.

[code]

This system has 8GB of RAM. Is it possible to have the tests not use more than 4gb with an option?

[2017-05-11 02:37] jonbaer opened #4 "llvm on OSX"
OSX 10.11.6 + Homebrew 1.2 (+ using mapd-deps-osx.sh)

GroupByAndAggregate.h:34:10: fatal error:
      'llvm/IR/Function.h' file not found
#include <llvm/IR/Function.h>

Any ideas for a fix?  Looking at http://stackoverflow.com/questions/26246769/including-llvm-value-h-not-found do I need a different version of llvm (4.0)?

[2017-05-11 04:52] asuhan commented on #4
Do you have `llvm-config` in your path? Version 4.0 should be fine.

[2017-05-11 05:28] jonbaer commented on #4
Thanks, I am up + running, seems that brew --prefix got confused on an older copy while I was trying to figure it out (4.0 is fine) ...

brew --prefix llvm
/usr/local/Cellar/llvm/4.0.0_1
(previous)
brew --prefix llvm@3.7
/usr/local/opt/llvm@3.7

[2017-05-11 05:51] asuhan commented on #3
Should work now, https://github.com/mapd/mapd-core/commit/172b93bf4842eb6d4e115c972348b44a87953a3c reduces the number of rows dramatically.

[2017-05-11 06:38] #4 closed

[2017-05-11 11:08] ingenieroariel commented on #3
It worked, here is the report so you can compare times with your server versions.

[code]

[2017-05-11 11:08] #3 closed

[2017-05-11 11:26] ingenieroariel opened #5 "GPU is not used on Jetson TX2"
My machine has 8GB of RAM and CUDA 8 on Ubuntu 16.04 and I've set the following env vars:

[code]

When running mapd the following error appears in the console:

[code]

Note: The web based query editor / chart generator is amazing. Here is a screenshot with `uname -a` and the warning I see:
![mapd-on-tegra](https://cloud.githubusercontent.com/assets/54999/25946916/adff2702-363c-11e7-929e-f6284882

[2017-05-11 12:26] ingenieroariel commented on #5
Here is what `deviceQuery`[1] from CUDA sample says:

[code]
[1]
https://gist.github.com/ingenieroariel/c4e8e1299be58a5b852d91d85ba7da24

[2017-05-11 12:37] andrewseidl commented on #5
The most likely cause is that the GPU detection in `startmapd` isn't properly handling the Jetson. This detection is actually not required anymore now that `mapd_server` can handle it, so I've removed it.

Could you do a `git pull` to pick up the new version of `startmapd` to see if that helps?

----

A second potential cause is not having permission to access the GPU devices, which I've seen happ

[2017-05-11 14:52] ingenieroariel commented on #5
I get no warnings now. Thanks!

[2017-05-11 14:52] #5 closed

[2017-05-12 17:23] mgregoro opened #7 "No OpenCL Support"
Why are you guys all using Nvidia's proprietary API to do all this cool stuff?!

[2017-05-12 18:20] asuhan commented on #7
I cannot promise anything, but this might change soon. We don't depend on CUDA that much, we have room to add support for other graphic cards. The code generation should work with minor changes, also memory allocation and data transfer should be easy to port to OpenCL. We also rely on Thrust for radix sort, which means we need to roll our own or use the HIP transpiler (https://github.com/GPUOpen-P

[2017-05-12 18:36] m1mc commented on #7
This is not as good and handy as `thrust::radix_sort`: https://github.com/KhronosGroup/SyclParallelSTL/blob/master/include/sycl/algorithm/sort.hpp

[2017-05-12 19:25] gstoner commented on #7
We are going to bring MAPD to ROCm platform.  We have lot more to talk about soon.  We are very excited by the Open Sourcing of MAPD it fits with our philosophy of bringing GPU computing forward.

[2017-05-12 19:37] asuhan commented on #7
@gstoner We're looking forward to this and happy to help with it.

[2017-05-12 21:33] gstoner commented on #7
I look forward to the help

[2017-05-16 04:19] hijiangtao opened #8 "How to enable backend rendering?"
I am sorry about disturbing your guys here, since I didn't find an appropriate way to contact you about the usage and valuable features in mapd's community version. And I may also raise the issue in a inappropriate sub-repo of mapd...

The thing I want to know is that how to enable backend rendering in mapd? I don't know whether I should open it by setting something specifically, or it's only a va

[2017-05-16 04:38] m1mc commented on #8
Hi Tao, this is not an issue. Basically, you need `cmake /path/to/mapd-core/build-dir -DENABLE_RENDERING=ON` and use MapD Immerse visual analytics client for non-commercial use. Pls put your question [here](https://community.mapd.com/) in future.

[2017-05-16 04:48] hijiangtao commented on #8
OK, thanks very much. Sorry for my silly question again. :-)

[2017-05-16 04:48] #8 closed

[2017-05-16 05:08] tmostak commented on #8
We are currently looking at adding infrastructure so that OS users can download the rendering object files as a binary to enable the functionality. Please stay tuned!

Adding @andrewseidl.

[2017-05-16 05:13] hijiangtao commented on #8
@tmostak Thanks for your guys' contributions on that, I will keep an eye on it. Currently, I will try to use community version on this functionality. :-)

[2017-05-16 21:59] anshumang opened #9 "Joins across multiple GPUs using P2P"
I am interested in the use case where some GPUs are connected by P2P and we perform a join involving data only on these GPUs. Does the current implementation use loads/stores or cudaMemcpy (p2p) or cudaMemcpy (to host and back)?

[2017-05-16 23:00] mcowart123 opened #10 "Build instructions for Ubuntu 16.04"
The included commands to install/build the dependencies do not install bison++, which causes make to fail. Manually running `apt-get install bison++` fixes the issue.

[2017-05-16 23:24] andrewseidl commented on #10
The very last batch of commands in the dependency build section builds and installs `bison++`. We don't have it in the list of packages installed with `apt` because it interacts with some of the build deps required for Thrift.

It's fine to install from `apt` after Thrift is built, you just might be forced to uninstall that package if you ever have to rebuild Thrift (it's a bug in how the build-de

[2017-05-16 23:24] #10 closed

[2017-05-17 00:20] mcowart123 commented on #10
I could not get make to run successfully (it failed looking for flex) until I manually did an apt install of bison++. This was after running all the dependency builds. I put all the dependency commands into a script I ran as root (altering it to remove any sudo). I'm not going to say it's impossible there were any errors, but I didn't notice any in the output.

[2017-05-17 01:23] dwayneberry commented on #9
Hi

Thanks for your interest in MapD

We currently do not do P2P access in our processing model.

It is on our road map for future release

[2017-05-17 01:58] anshumang commented on #9
Thanks @dwayneberry for the reply.

[2017-05-17 15:21] neko940709 opened #11 "Does Folly needed by mapd?"
I follow the installation guide of the mapd, and I found error like this:
`CMake Error at /usr/share/cmake/Modules/FindPackageHandleStandardArgs.cmake:108 (message):
  Could NOT find Folly (missing: Folly_LIBRARY Folly_DC_LIBRARY)
Call Stack (most recent call first):
  /usr/share/cmake/Modules/FindPackageHandleStandardArgs.cmake:315 (_FPHSA_FAILURE_MESSAGE)
  cmake/Modules/FindFolly.cmake:76 (find

[2017-05-17 15:25] asuhan commented on #11
Currently, you can build without Folly with `-DENABLE_FOLLY=OFF`, but this isn't recommended and might change anyway. The readme recommends 2017.04.10.00, per the https://github.com/mapd/mapd-core#ubuntu-1604-1610 section. It's available at https://github.com/facebook/folly/archive/v2017.04.10.00.tar.gz.

[2017-05-17 23:12] hung135 opened #12 "Cuda driver moved in homebrew"
Looks like the Cuda driver moved for OSX.
Error: No available formula with the name "cuda"
It was migrated from caskroom/cask to caskroom/drivers.
You can access it again by running:
  brew tap caskroom/drivers

brew cask install cuda works after the above statement was ran.

[2017-05-22 08:01] xuxilei opened #13 "Compiler error with folly : gflags invalid"
my OS is CENTOS 7
I download folly-2017.04.10.00.zip , but some wrong with folly
[root@localhost folly]# ./configure --prefix=/usr/local/mapd-deps
then "checking for main in -lgflags... yes

checking for gflags viability... no

configure: error: "gflags invalid, see config.log for details"

I am make gflags as compiler: /usr/local/lib/libgflags.a , is a static lib
vi config.log , said:

/usr/local

[2017-05-22 09:09] asuhan commented on #13
We haven't tried to build on CentOS 7 as far as I know, looks like Folly doesn't build on that platform. You can build MapD without Folly, by passing `-DENABLE_FOLLY=OFF` to cmake or try to fix the Folly build on CentOS 7 on your own. It looks like a missing or misplaced `-pthread`.

[2017-05-22 13:01] xuxilei opened #14 "compiler of thrift-0.10.0 error: libboost_unit_test_framework.a: No such file or directory"
make -j $(nproc)
.........
g++: error: /usr/lib64/libboost_unit_test_framework.a: No such file or directory

[2017-05-22 13:12] asuhan commented on #14
Looks like you don't have the Boost Test library installed. I'm not familiar with CentOS, but I believe you should install the `boost-test` package first. Alternatively, it might work if you do `make install` and ignore this problem -- the Thrift compiler and the runtime should be done by the time you hit this problem.

Also, this is more of a Thrift problem, you could try reporting it to the Apac

[2017-05-22 16:15] dwayneberry commented on #13
Please follow these instructions here for centos 7

https://github.com/mapd/mapd-core#centos-7

We have a set of prebuild dependencies which should work for you and save you building them yourself.

[2017-05-22 16:16] dwayneberry commented on #14
I am assuming you are still working on Centos 7

Please follow these instructions here for centos 7

https://github.com/mapd/mapd-core#centos-7

We have a set of prebuild dependencies which should work for you and save you building them yourself.

[2017-05-23 00:22] domoritz opened #15 "Build uses wrong version of LLVM"
I tried to compile mapd on my ubuntu 16.04 machine but it kept using the old llvm 3.6.0 version. Eventually, I changed `set(llvm_config_cmd llvm-config)` in https://github.com/mapd/mapd-core/blob/5a5dcc2aa94c7c507de58ca2cd201530964666cd/CMakeLists.txt#L156 to `set(llvm_config_cmd llvm-config-3.9)` and the build succeeded.

I'm not sure whether there is anything you can do but I wanted to note down

[2017-05-23 00:35] m1mc commented on #15
Hi @domoritz, could you run `llvm-config --version` and `clang++ --version` on your machine?
Maybe you should alias default LLVM toolchain to installed 3.9+.

[2017-05-23 01:33] domoritz commented on #15
They show version 3.6. Yes, the problem is that the default LLVM versions. I just wanted to note down this fix for others who are running into similar issues because of LLVM 3.6. For example, the build failed with `error: ‘Metadata’ is not a member of ‘llvm’` for me.

I'm going to close this issue as it is not a problem with MapD but maybe this helps someone else in the future.

[2017-05-23 01:33] #15 closed

[2017-05-23 02:07] xuxilei opened #16 "in centos 7, bash deploy.sh is wrong"
it is wrong.

[root@localhost ~]# curl -OJ https://internal-dependencies.mapd.com/mapd-deps/deploy.sh

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current

                                 Dload  Upload   Total   Spent    Left  Speed

100  1768  100  1768    0     0   1050      0  0:00:01  0:00:01 --:--:--  1049

[root@localhost ~]# sudo bash deploy.sh

................

[2017-05-23 02:57] andrewseidl commented on #16
Try running it again, there might just be some intermittent issues with your upstream nameserver. You clearly can resolve it since that's the domain the deploy script was downloaded from, but it might be that the second lookup isn't cached locally and your upstream nameserver fails to resolve again.

If it's still an issue, try adding the following line to your `/etc/hosts` file:

    72.28.97.165

[2017-05-23 07:13] neko940709 commented on #11
Thanks for your answer,and now I have finished the installation of dependencies. I found your dependencies script was not really commonly used towards various environment, and I hope it will be improved.

[2017-05-23 07:19] xuxilei commented on #16
after edit "72.28.97.165 internal-dependencies.mapd.com"
[root@localhost ~]# sudo bash deploy.sh
...................................
+ FLAG=latest

+ '[' '' == --testing ']'

+ sudo wget --continue https://internal-dependencies.mapd.com/mapd-deps/mapd-deps-latest.tar.xz

--2017-05-23 03:17:12--  https://internal-dependencies.mapd.com/mapd-deps/mapd-deps-latest.tar.xz

Resolving internal-dependenci

[2017-05-23 11:00] asuhan commented on #12
@andrewseidl Should we update the documentation?

[2017-05-23 13:04] hung135 commented on #12
need to update this file also.
https://github.com/mapd/mapd-core/blob/master/scripts/mapd-deps-osx.sh

[2017-05-23 13:15] #12 closed

[2017-05-23 13:18] andrewseidl commented on #12
Done. Thanks for letting us know - it looks like Caskroom moved things around on us a couple weeks ago.

[2017-05-24 02:33] xuxilei opened #17 "compiler mapd-core error"
[root@localhost ~]# cd mapd-core-master/

[root@localhost mapd-core-master]# cd build/

[root@localhost build]# cmake -DCMAKE_BUILD_TYPE=debug -DMAPD_IMMERSE_DOWNLOAD=off ..

CMake Error at /usr/local/share/cmake-3.7/Modules/FindPackageHandleStandardArgs.cmake:138 (message):

  Could NOT find Thrift (missing: Thrift_LIBRARY Thrift_VERSION)

Call Stack (most recent call first):

  /usr/local/share/

[2017-05-24 05:53] #14 closed

[2017-05-24 23:24] pdiddyb opened #18 "cmake CUDA issue"
I think everything is installed correctly, but I cannot get past this error:
CMake Error at /usr/local/mapd-deps/20170505/share/cmake-3.7/Modules/FindPackageHandleStandardArgs.cmake:138 (message):
  Could NOT find CUDA (missing: CUDA_INCLUDE_DIRS CUDA_CUDART_LIBRARY) (found
  version "8.0")
Call Stack (most recent call first):
  /usr/local/mapd-deps/20170505/share/cmake-3.7/Modules/FindPackageHand

[2017-05-25 11:44] xuxilei commented on #17
is the script wrong?

[2017-05-25 11:47] xuxilei commented on #16
the computer throught  two proxy to internet

[2017-05-25 11:52] xuxilei commented on #17
is another centos still installed ?

[2017-05-25 14:21] pdiddyb commented on #18
I was able to get it by using the run file instead of the rpm and yum.

[2017-05-25 14:21] #18 closed

[2017-05-25 16:20] dwayneberry commented on #16
Hi

i have just tried to download this bundle from an external network and all appears to be working fine.

please review your network configuration, as this appears to be a network issue on your network side.

[2017-05-25 16:24] dwayneberry commented on #17
Hi

It cannot find your Thrift libraries.

It appears you have another issue here https://github.com/mapd/mapd-core/issues/16  regarding downloading the dependencies I think these to issues are related #16

[2017-05-25 16:29] dwayneberry commented on #16
If you have no luck with getting the pre built dependencies you can build your own by following the details here

https://github.com/mapd/mapd-core#centos-7

And the script here: https://github.com/mapd/mapd-core/blob/master/scripts/mapd-deps-linux.sh

[2017-05-26 02:55] xuxilei commented on #16
in mapd-deps-linux.sh:  "download"  refer to ?

[2017-05-27 06:56] xuxilei commented on #17
"it cannot find your Thrift libraries."
Thrift libraries are:
[root@localhost lib]# ls

libthrift_c_glib.a  libthrift_c_glib.la  libthrift_c_glib.so  libthrift_c_glib.so.0  libthrift_c_glib.so.0.0.0  pkgconfig

[root@localhost lib]# cd pkgconfig/

[root@localhost pkgconfig]# ls

thrift_c_glib.pc

[root@localhost pkgconfig]#

[2017-05-31 02:22] neko940709 opened #19 "Exception: Query would require a scan without a limit on table(s)"
When I execute a query in the TPC-H dataset, the mapd throws this exception, what's the meaning of this exception?

[2017-05-31 13:21] neko940709 commented on #19
The query is like this:
`select
    l_orderkey,
    sum(l_extendedprice * (1 - l_discount)) as revenue,
    o_orderdate,
    o_shippriority
from
    lineitem,
    orders,
    customer
where
    l_orderkey = o_orderkey
    and c_custkey = o_custkey
    and c_mktsegment = 'BUILDING'
group by
    l_orderkey,
    o_orderdate,
    o_shippriority
order by
    revenue desc,
    o_orderdate;`

The query e

[2017-05-31 13:33] neko940709 commented on #19
More, there is other exception I've got during the TPC-H  test.Some of the sql will make the mapd_server crash. Here is an example:
`select
s_acctbal,
s_name,
n_name,
p_partkey,
p_mfgr,
s_address,
s_phone,
s_comment
from
part,
supplier,
partsupp,
nation,
region
where
p_partkey = ps_partkey
and s_suppkey = ps_suppkey
and p_size = 30
and p_type like '%SMALL'
and s_nationkey = n_nationkey
and n_regio

[2017-05-31 13:39] neko940709 commented on #19
Apart from the TPC-H data, I ran the queries you give on your official website. The query was executed on the FLIGHT data in 2.6GB size. The query is the following:
`select count(*) from flights_2008_7M where origin_name='Lambert-St Louis International' and dest_name = 'Lincoln Municipal;`
And the exception is:
`The complexity of matching the regular expression exceeded predefined bounds.  Try ref

[2017-05-31 13:50] asuhan commented on #19
I'll answer the questions one by one.

1. `select * from newdata` tries to select *everything* from a big table. It's a projection without a "reasonable" limit (I think we ask it to be at most 10M). If you want to see a sample of the data, you can specify a limit and it'll work. Allowing this type of query without a limit will need us to implement pagination. I believe we'll end up doing it (for t

[2017-05-31 23:26] pwentrys commented on #19
Just wanted to say I strongly agree with you on your first point, @asuhan. I would argue that even if you come up with a _need_ case, it wouldn't be the best (going by fastest) solution. If you're doing this with that much data, the person with the use-case might need to adjust other parts in their system's flow. I view any `select * from foo` statement to be poor practice (lack of future-proofing

[2017-06-01 00:27] hung135 opened #20 "Build Error on Ubuntu 16.04.2 LTS"
awk: symbol lookup error: /usr/local/mapd-deps/20170531/lib/libreadline.so.6: undefined symbol: UP
awk: symbol lookup error: /usr/local/mapd-deps/20170531/lib/libreadline.so.6: undefined symbol: UP
awk: symbol lookup error: /usr/local/mapd-deps/20170531/lib/libreadline.so.6: undefined symbol: UP
gawk: symbol lookup error: /usr/local/mapd-deps/20170531/lib/libreadline.so.6: undefined symbol: UP
con

[2017-06-01 06:00] xuxilei commented on #17
SOS

[2017-06-01 06:43] dwayneberry commented on #17
How did you get your mapd-deps?

Did you build them or download them.

It appears your paths are not set up correctly.

Are you following the instructions here:
https://github.com/mapd/mapd-core#building
and here:
https://github.com/mapd/mapd-core#dependencies

[2017-06-02 01:41] dwayneberry commented on #20
Please share more detail of the steps you went through to get to this error.

Can you share the details when you built the required dependencies.

[2017-06-02 09:41] JohnnyLChang commented on #20
I can build successfully on Ubuntu 16.10

Scanning dependencies of target StreamInsert
[ 98%] Building CXX object SampleCode/CMakeFiles/StreamInsert.dir/StreamInsert.cpp.o
[ 99%] Linking CXX executable ../bin/StreamInsert
[ 99%] Built target StreamInsert
Scanning dependencies of target StreamInsertSimple
[ 99%] Building CXX object SampleCode/CMakeFiles/StreamInsertSimple.dir/StreamInsertSimple.cpp

[2017-06-05 19:30] hung135 commented on #20
I will try to reproduce.  With as many dependencies, have you guys thought about creating a Vagrant file that would take the build process from beginning to end?  I will try to make one so I can retrace each step.

[2017-06-08 11:36] hung135 commented on #20
Was able to build on ubuntu server following the steps.  Was not able to build on 16.04 Desktop.  Will close this issue and reopen one for the Ubuntu Desktop when I get more details.

[2017-06-08 11:36] #20 closed

[2017-06-08 13:35] hung135 opened #22 "centos 7 Missing Python Libs?"
I followed the steps to build for Centos.  Looks like I got all the way down to the end and got this:
-- Performing Test COMPILER_RT_HAS_WD4800_FLAG
-- Performing Test COMPILER_RT_HAS_WD4800_FLAG - Failed
-- Looking for __func__
-- Looking for __func__ - found
-- Looking for fopen in c
-- Looking for fopen in c - found
-- Looking for dlopen in dl
-- Looking for dlopen in dl - found
-- Looking for

[2017-06-09 00:16] poroszd opened #23 "Support PreparedStatement.setNull for jdbc"
I'm using the jdbc interface to move data from Spark to MapD, but it does not work for `null` values, as `MapDPreparedStatement.setNull()` is not implemented.

Am I missing something, or it would be really this simple?
[code]

[2017-06-09 19:58] suyongheng opened #24 "No Backend Rendering Support"
Will this community edition support backend rendering?

[2017-06-09 19:59] asuhan commented on #24
Yes, I think we'll offer it as a binary blob (it's closed source). @andrewseidl knows more about it.

[2017-06-09 19:59] asuhan commented on #23
@dwayneberry should we make the suggested change?

[2017-06-09 20:10] david4096 opened #25 "Failing with Arrow build"
Hi! I'm trying out with the latest Arrow, (cuda disabled, debug build) and got this error:

[code]

I tried switching to the previous arrow release (`0.4.0`) unsuccessfully.

`Ubuntu SMP Wed Jul 27 16:06:39 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux`

[2017-06-09 20:11] asuhan commented on #25
@m1mc Would you mind taking a look at this?

[2017-06-09 20:54] m1mc commented on #25
Hi @david4096, we only build w/ [arrow v0.3.0](http://arrow.apache.org/release/0.3.0.html) for now, but I think you don't need to pick the arrow release yourself, is that right @andrewseidl?

[2017-06-09 22:13] poroszd commented on #23
FWIW, I compiled it myself (I had to update the `thrift.version` to 0.10.0, e.g. org.apache.thrift.TSerializable wasn't even present in 0.9.3) and moved the data successfully.

[2017-06-10 05:33] andrewseidl commented on #24
Correct, we plan on offering backend rendering support as a closed source, non-commercial use plugin, but we do not currently have a timeline for when that will be available.

For the time being you can download the free Community Edition, which does include backend rendering support: https://www.mapd.com/products/downloads/

[2017-06-12 16:10] david4096 opened #26 "Implementing a distributed cluster"
I've set up a few instances of MapD across a cluster and made sure they can see each other via the hostnames in the cluster.conf. However, when loading to the node configured as the aggregator, I don't see the string-server or any leaves getting data.

Other than setting the cluster.conf, `string-server=` or `cluster=` keys what other steps are needed to implement a MapD cluster? I'm using CPU onl

[2017-06-12 17:18] dwayneberry commented on #26
MapD distributed support is only offered in the Enterprise Edition.  What edition are you running?

[2017-06-12 23:12] poroszd commented on #23
Well, I was indeed missing something. This does not work for batch inserts (e.g. it will insert  'NULL' as string value for text columns).
This is because the prepared statement keeps track of only the string representation of the parameters (`parmRep`), and the `addBatch()` method tries to infer whether the parameter was `null` using this string representation. I think you either have to handle `

[2017-06-13 00:21] njmarshall opened #27 "SMALLINT Datatype has flaws"
## ISSUE
MapD's SMALLINT datatype has several flaws upon applied boundary conditions.  To reproduce the issues, run the follow sql statements on the MapDQL cursor:
[code]
### Results from the SELECT statement
[code]
### Comparisons of Expected and Actual Results
[code]
### Explanation
The SMALLINT datatype has 2 bytes in the -32768 to 32767 range.  The way MapD is a detection handling to outside b

[2017-06-13 00:25] asuhan commented on #27
Thanks for the detailed report! Yes, we're aware of this internally and we'll work on it very soon.

[2017-06-13 00:28] njmarshall commented on #27
[smallint.txt](https://github.com/mapd/mapd-core/files/1069989/smallint.txt)

[2017-06-13 00:29] njmarshall commented on #27
@RalphLoen @andrewseidl please take a look into the issue.

[2017-06-13 00:30] njmarshall commented on #27
@asuhan  Thanks for your reply.  This week is my 2nd week at MapD.

[2017-06-13 10:47] flowbehappy commented on #18
@pdiddyb

Hi, I face the same error. And I cannot understand what you mean by "using the run file". Please help.

[2017-06-13 15:36] david4096 commented on #26
From source here, thanks. I must have missed that in the docs.

[2017-06-13 23:42] njmarshall opened #28 "NUMERIC/DECIMAL datatype has flaw."
## ISSUE
MapD's NUMERIC/DECIMAL datatype has flaws.  To reproduce the issues, run the follow sql statements on the MapDQL cursor:
[code]
### Results from the SELECT statement
[code]
### Explanation
The NUMERIC/DECIMAL datatype has 4 bytes for the maximum of 19 digits. The datatype has a precision and scale.  Precision is defined as the total number of digits in a numeric or decimal type, and scale

[2017-06-13 23:44] njmarshall commented on #28
@asuhan @andrewseidl @RalphLoen Please check this issue and let me know your consideration.  Thanks

[2017-06-14 15:26] njmarshall commented on #28
@DennisDawson Can you please add detail of this datatype to www.mapd.com/docs?

[2017-06-14 15:26] njmarshall commented on #27
@DennisDawson Can you please add detail of this datatype to www.mapd.com/docs?

[2017-06-14 18:21] asuhan commented on #28
These are two separate issues actually:

1. The way we print the 4th row is a client-side formatting issue.
2. The rounding is an import issue.

I don't think either is a high priority at this point, but we'll have to address them.

[2017-06-19 15:09] billmaimone commented on #23
@RalphLoen Any comment on this?  You've been playing with Spark.

[2017-06-19 15:10] billmaimone commented on #22
@andrewseidl Any idea what's wrong here?

[2017-06-20 03:01] dwayneberry commented on #23
@poroszd Currently this code does not differentiate between empty string and NULL.  It treats empty string as NULL.

To get your fix to work
[code]
Should do it.

But as really the longer term solution if you want to be able to support an empty length string (edge case this fix will not support) we will need to add an additional flag

[2017-06-20 03:07] dwayneberry commented on #22
@hung135 Did this occur while you were trying to build the dependencies?

if you are using centos 7 you can grab the dependencies already built and ready for you.  Please see instructions here https://github.com/mapd/mapd-core#centos-7

[2017-06-20 03:08] #24 closed

[2017-06-20 03:09] #26 closed

[2017-06-20 03:34] andrewseidl commented on #22
You might need to install package `python-devel`. I'll update the docs once I get a chance to reproduce.

That being said, as @dwayneberry mentioned, the easiest and quickest way to get up and running is to use the prebuilt dependencies.

[2017-06-20 16:27] hung135 commented on #22
Thanks guys.
@dwayneberry those were the directions I followed. Manualy many times. I must be missing something.
I also made a vagrant file just so I can destroy and re-create the evironment from scratch each time.  https://github.com/hung135/vagrant_mapd_centos/blob/master/Vagrantfile.  I'll keep at it until I get it to compile.  Any other guidence would be appreciated.

[2017-06-20 17:40] dwayneberry commented on #22
You do not need to manually build the dependencies at all you can download for centos 7 a prebuild set of dependencies

from the instructions I point to above:

Next download and install the prebuilt dependencies:

[code]

These dependencies will be installed to a directory under /usr/local/mapd-deps. The deploy.sh script also installs Environment Modules in order to simplify managing the required

[2017-06-20 22:34] asuhan opened #29 "Make `APPROX_COUNT_DISTINCT` error configurable"
Add a second, optional parameter to `APPROX_COUNT_DISTINCT` to control the error rate of the underlying HyperLogLog structure.

[2017-06-21 10:13] s37syed commented on #29
Hi @asuhan, does a starter tag imply that anyone just taking a look at the code base could possibly look into fixing this?

[2017-06-21 18:12] asuhan commented on #29
Yes, it does. Ideally, people working on a task should announce their intention to avoid duplication of effort.

Here's what this task involves:

- Changes to the `ApproxCountDistinct` operator (in the `MapDSqlOperatorTable` class) to make it accept an additional, optional parameter for the desired relative error. Check `PgILike` or `RegexpLike` for an example of how to achieve that (the escape ch

[2017-06-23 08:58] #25 closed

[2017-06-26 23:46] v1nsai opened #31 "Incompatible clang causes nvcc and thread-local storage issues"
I started getting `nvcc fatal : The version ('80100') of the host compiler ('Apple clang') is not supported` errors on build, even though [this install guide on NVidia](http://docs.nvidia.com/cuda/cuda-installation-guide-mac-os-x/index.html) said that clang 8.0 would work.

So I downgraded via instructions on [this thread](https://stackoverflow.com/questions/36250949/revert-apple-clang-version-for

[2017-06-29 05:02] njmarshall opened #32 "JDBC gives inconsistent date values for their years 1600 or below"
### To reproduce the issue
1. Create a table and populate two dates including years of 1500 and 1600 on MAPDQL
CREATE TABLE t_date(id SMALLINT, val DATE);
INSERT INTO t_date VALUES(1, '1500-01-01');
INSERT INTO t_date VALUES(2, '1600-01-01');

2. Run the SQL stmt against MAPD
SELECT * FROM t_date ORDER BY id;

3.  Run the SQL stmt against MAPD thru JDBC
SELECT * FROM t_date ORDER BY id;

### Data

[2017-06-29 05:04] njmarshall commented on #32
@dwayneberry Do you think the JDBC functionality for datatype displays should be identical to MAPD?

[2017-06-29 05:09] dwayneberry commented on #32
@njmarshall we are in the weeds here.  Are you familiar with the 'Council of Trent'.  The calendar under went modifications in this time period to readjust.

[2017-06-29 05:10] dwayneberry commented on #32
Sorry didn't mean to close it.

[2017-06-29 05:11] dwayneberry commented on #32
I'm not sure where we would stand regarding UTC to pre "Council of Trent" definitely a conversation to be had over a beer :-)

[2017-06-29 15:50] njmarshall commented on #32
Yes, my purpose is to find anything necessary to be fixed, improved or upgraded for rising a level of the software quality.

[2017-06-29 16:38] njmarshall opened #33 "Document Update: Time/Timestamp Datatype are zulu time based."
## JDBC and MapD output times differently

### To reproduce the issue:

#### 1. Create a table and insert a time row:
CREATE TABLE t_time(id SMALLINT, val TIME);
INSERT INTO t_time VALUES(1, '00:00:01');

#### 2. Run the SQL stmt at MapDQL cursor for getting the time
SELECT * FROM t_time

#### 3. Run the same SQL stmt via JDBC
SELECT * FROM t_time

### Expected/Actual Results
Time Results from Map

[2017-06-29 16:41] njmarshall commented on #33
@DennisDawson Can you expand detail for best practices to insert time/timestamp data in document?

@dwayneberry You are an expert and can ensure that the additional info to MapD wiki is clear and readable to customers.

[2017-06-29 19:05] njmarshall opened #34 "BIGINT datatype doesn't have outside boundaries"
## ISSUE
MapD's BIGDATA datatype doesn't have outside boundaries.  To reproduce the issues, run the follow sql statements on the MapDQL cursor:
[code]
### Results from the SELECT statement
[code]
### Comparisons of Expected and Actual Results
[code]
### Result Explanation
The results show 3 passes out of 7 test cases.  According to the C++ datatype, the BIGINT datatype has 8 bytes in the -9,223,37

[2017-06-29 19:18] njmarshall opened #35 "INT datatype doesn't have outside boundaries"
## ISSUE
MapD's INT datatype doesn't have outside boundaries.  To reproduce the issues, run the follow sql statements on the MapDQL cursor:
[code]
### Results from the SELECT statement
[code]
### Comparisons of Expected and Actual Results
[code]
### Result Explanation
The results show 3 passes out of 7 test cases.  According to the C++ datatype, the INT datatype has 8 bytes in the -2147483648 to 2

[2017-06-29 21:16] TomAugspurger opened #36 "Segfault with sql_execute_df"
I'm working on getting the python client to return a `pyarrow.Table` for cpu shared memory results, but hitting a segfault. Using the branch at https://github.com/TomAugspurger/pymapd/tree/mapd-update, running the following causes a segfault on the call to `client.sql_execute_df`

[code]

(pymapd isn't really required for this example; it's just a convenient way to generate the mapd bindings and c

[2017-06-29 21:22] asuhan commented on #36
Thank you for the report! Which operating system / tool-chain versions are you using? Also, do you have libunwind installed?

@m1mc We'll have to look into it.

[2017-06-29 21:28] TomAugspurger commented on #36
I'm on macOS 10.12.5. Not sure what all versions would be in the tool-chain, but `clang --versoin` outputs

[code]

Anything that would be useful?

I don't think I have libunwind installed.

[2017-06-29 21:40] njmarshall opened #37 "DECIMAL datatype with a min precision doesn't have outside MIN boundaries"
## ISSUE
MapD's DECIMAL datatype with the **min precision** doesn't have some outside boundaries.  To reproduce the issues, run the follow sql statements on the MapDQL cursor:
[code]
### Results from the SELECT statement
[code]
### Comparisons of Expected and Actual Results
[code]
### Result Explanation
The results show 1 pass out of 11 test cases.  In definition, precision is the number of digits

[2017-06-29 22:25] andrewseidl commented on #36
What CMake options you using? Specifically, are you building with CUDA enabled or disabled?

[2017-06-29 22:48] m1mc commented on #36
yes, @TomAugspurger I did repro a segfault w/ ENABLE_CUDA off, otherwise pymapd was working well w/ latest `sql_execute_df` on my mac 10.11.

[2017-06-29 23:00] TomAugspurger commented on #36
Thanks for the info, this build was with CUDA disabled. I'll give it a shot with it enabled.

[2017-06-30 21:12] bploetz opened #38 "Query causes server to core dump"
I have the following two tables (lots of other columns removed that are not relevant to this):

[code]

The following query works fine:

[code]

However, when I add in an `ANY` clause to the query to look for a specific audience_id value in the `profiles.audience_ids` column, the server crashes and core dumps.

[code]

And from the server logs:

[code]

[2017-06-30 21:27] asuhan commented on #38
Thanks for reporting it, I'll fix it.

[2017-06-30 21:41] asuhan commented on #38
I suspect you might be running an old version. Do you mind taking a look at the logs? They're in the `mapd_log` sub-folder of the data folder; the tail of `mapd_server.FATAL` is the interesting one. Also, a very small sample of the input data (CSV files, I assume) would help me investigate.

On master tip, I get an exception: "Columnar conversion not supported for variable length types". It should

[2017-06-30 22:41] bploetz commented on #38
@asuhan We're running the latest version as far as I know:

[code]
As for the logs, there's no mapd_server.FATAL file:

[code]

Not sure if this is related, but this MapD instance is running in Docker (ref: https://community.mapd.com/t/mapd-docker-support/246/7). Perhaps when it's core dumping it's exiting the process and killing the container before it has a chance to write the `mapd_server.FATAL

[2017-06-30 22:47] asuhan commented on #38
Ok, this makes sense, we did crash in 3.1.1. My testing shows we don't crash in master and throw the exception instead. But it shouldn't be too hard to make the query run, I'll give it a go next week.

[2017-07-01 04:03] asuhan commented on #38
With 563e0b302124be3a649254adb7787930e1f134cb, query now runs on my made-up data.

[2017-07-01 04:03] #38 closed

[2017-07-01 05:49] asuhan commented on #36
2966fac6d65f8019d62eee2035d0d42dda11621a should fix it, let us know.

[2017-07-01 05:49] #36 closed

[2017-07-01 12:59] TomAugspurger commented on #36
@asuhan thanks, that fixed it.

[2017-07-01 13:46] bploetz commented on #38
Thanks for the quick turnaround @asuhan! Any idea when this will be released?

[2017-07-01 14:32] neko940709 opened #39 "Hash Join exception and multi-table JOIN??"
I run the following query,
`SELECT count(a.imsi),sum(a.download) from test_a a JOIN test_zc1 b ON a.imsi =b.imsi;`
and it returns an exception:
`Exception: Hash join failed, reason: Could not build a 1-to-1 correspondence for columns involved in equijoin`
The test_a table contains 200 millions of records, and the test_zc1 contains 800 millions. So what's the meaning of the exception?
More, I have

[2017-07-01 15:35] m1mc commented on #39
Hi @neko940709, thanks for your interest in MapD. The exception means MapD failed to build hash table for `b.imsi`. There are usually reasons like whether `b.imsi` is unique in values b/c we are still working on one to many hash join and the supported loop join on such big inner table would be unacceptably slow to you. We also have some limitations on the types of `a.imsi` and `b.imsi` so I'd ask

[2017-07-01 16:19] neko940709 commented on #39
Thanks for your answer. I swap the table order of the query, but I get the same exception. The `imsi` attribute is `varchar(32)`  both table of the tables. For the JOIN operation has some strictions, I haven't run it successfully before. Can you give me some examples of the **multi-way join** and **the join of inner query**?  I found some cases in your official website(the data is about the flight

[2017-07-01 16:34] m1mc commented on #39
For text, we only support dictionary encoded text as join key. Can you reimport the data with this encoding?
You can find some info about join support and some example here:https://www.mapd.com/docs/latest/mapd-core-guide/dml/

_Sent from my Motorola Nexus 6 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-02 03:27] asuhan commented on #39
@neko940709 Is `imsi` unique in either of the two tables? What are the type and the encoding?

Work is under way and I'm confident we'll get these queries running pretty soon. Do you mind telling us the schemas (type and encoding) for all the tables involved, how many rows are in each table and the distinct number of values in the columns involved in the join? This will help us cover all bases. Th

[2017-07-02 03:34] asuhan commented on #38
@bploetz Most likely ~2 weeks from now. Also, how many rows do you have in `profiles` and `stories`, respectively? You might need the shard key feature too.

[2017-07-02 04:30] neko940709 commented on #39
This is the DISTINCT result of these two tables:
[code]
So the `imsi` is unique for sure. The CREATE TABLE expressions are the following:
test_a table:
`mapdql> create table test_a( id varchar(32), start_time varchar(32), imsi text encoding dict, imei varchar(32), host varchar(64), upload bigint, download bigint, lac varchar(32), ci varchar(32), user_ip varchar(32) );`

test_zc1 table:
`create tab

[2017-07-02 04:35] neko940709 commented on #39
More, if I want to see the table structure through mapdql , what command can I use?
And I find new version of Mapd has released. How to update the current version into the newest?

[2017-07-02 04:37] asuhan commented on #39
Thanks! You've said that "The test_a table contains 200 millions of records, and the test_zc1 contains 800 millions", in which case the distinct counts are a lot lower than the total number of rows, which would explain the hash join failure. Can we get the `COUNT(*)` on the tables as well? 80M distinct entries is not a lot, we should be able to do it even without (soon to be available) sharding. I

[2017-07-02 04:39] asuhan commented on #39
To see a table structure, use `\d <table name>`.

[2017-07-02 06:42] neko940709 commented on #39
Thanks for the info you provide! And here is the `count(*)` result:
[code]

[2017-07-02 09:07] dwayneberry commented on #39
copied from community forum for completeness:

Hi

I ran the following step with the latest build of `mapd-core` open source code

create data
[code]

I then ran the following queries in mapdql which seems to duplicate your steps
[code]

Could you try these steps and see where your behaviour diverges as based on your details above this should simulate roughly your environment.

Please confirm exac

[2017-07-02 15:53] bploetz commented on #38
@asuhan ok. Are there pre-release/beta prebuilt binaries available somewhere ahead of release, or will I need to build from source to get this change?

As for the number of rows in the tables, roughly 1 billion and 500M respectively. We plan on reaching out to you guys about the enterprise edition, but right now we're just in evaluation phase.

Thanks again.

[2017-07-03 04:39] asuhan commented on #38
@andrewseidl might know more, although I don't know whether we have a well-defined process for sharing early builds.

Also, note that `id` has to be unique within `profiles` (we're working to remove this constraint) and you'll need to shard your tables for the full sizes you've mentioned. This patch alone should allow you to test on a sample, though.

[2017-07-03 12:29] neko940709 commented on #39
Hi @dwayneberry ,thanks for your answer.
I follow your steps and  the final JOIN is successful, then I rewrite the data generator and have the new data to try JOIN, it success again. But when I try the old data, it still throws exception. I guess maybe there's something wrong with the old data, but I cannot figure it out. Though, thanks a lot for your help.
And, the Mapd version I'm running is:
[c

[2017-07-03 12:54] bploetz commented on #38
Thanks @asuhan. Yeah, we fully expected to use the sharded implementation for the full data set, we're just testing MapD out with a very small subset of the data.

[2017-07-03 16:12] andrewseidl commented on #38
This will change soon, but for now you can find the latest open source build off master at https://jenkins-os.mapd.com/job/core-os/lastSuccessfulBuild/immerse=off,processor=cuda,sanitizer=off/

Note that this is a fully open source build: it does not include features like Immerse or rendering. Let me know if you need those.

[2017-07-03 16:13] bploetz commented on #38
@andrewseidl Awesome, this is perfect as I don't need immerse or rendering. Thanks so much, I will give this a spin!

[2017-07-03 16:23] bploetz commented on #38
@asuhan I downloaded the latest master build and the fix works like a charm!

[code]

[2017-07-03 17:52] dwayneberry commented on #39
@neko940709 Are you running th community edition?  Or is this a build you made from the repo?

Basically to upgrade you just run the new binary pointing to your existing data directory.

In the case of cimmunity edition to get latest version, go back to your email with the download link and get a new version.  That link will always fetch you the latest version.

In the case of you having built it

[2017-07-04 17:50] tomodachi21 opened #40 "frontend compilation error?"
I successfully installed all of the dependencies but when I go to **make -j 4** it looks to crash at a part that is called "frontend". Is there an explicit cause for this? I am using the =debug configuration

[code]

[2017-07-04 18:02] asuhan commented on #40
You need the Go compiler (`golang` package in Ubuntu). We should add this to our readme, @andrewseidl.

[2017-07-04 18:14] tomodachi21 commented on #40
Okay but this is a problem because **graceful** requires go1.3+ so when I uninstall golang and installed go1.8 to successfully install **graceful** it works... when I reinstall golang it switches to

`go version go1.2.1 linux/amd64` and I'm pretty sure this breaks graceful

And now I get this error:
`-- Build files have been written to: /home/ubuntu/mapd-core/build
[  0%] Generating ../gen-cpp/Cal

[2017-07-04 19:09] dwayneberry commented on #40
@tomodachi21 what version of unbuntu are you using?

[2017-07-04 19:10] tomodachi21 commented on #40
@dwayneberry Ubuntu 14.04 (AWS EC2 instance)

[2017-07-04 19:13] dwayneberry commented on #40
@tomodachi21 so we don't recommend using anything older than 16.04, is it possible for you to move to a more current release.

[2017-07-04 19:18] tomodachi21 commented on #40
I will do an update and see if that fixes it with golang-1.8-go.... thanks will let you know.

[2017-07-04 21:54] tomodachi21 commented on #40
In total wasted about 10+ hrs trying to compile this on 14.04... switching between VMs and reimaging. Upgrading to 16.04 did fix everything.

Thanks again for your contribution to open-source. Look forward to seeing this project evolve. If you could please put a notation on the install page (DO NOT USE 14.04) it will save other people like me the frustration of trying to install. Unfortunately mos

[2017-07-05 00:00] tomodachi21 commented on #40
Note: Still having issues with 16.04 where it is complaining that it is unable to find **libnetcdf.so.7**
From what I am seeing it looks like 16.04 is standard with .11 not .7 ~ trying to figure out if this is a hardcoded decency or can be changed more easily. I got the Xenial package from here:

https://launchpad.net/ubuntu/xenial/+source/netcdf

[code]
[code]

[2017-07-05 00:27] tomodachi21 commented on #40
I hardcoded a patch by copying the newer versions as the older versions but I'm getting this issue for all of the following files:
[code]

I installed newer versions for 16.04 (Xenial) and renamed them to the files listed above

[2017-07-05 00:45] tomodachi21 commented on #40
Really odd - after I am able to get it compiled installed an all the above errors supressed it complains that is is unable to detect any GPUs. Noted I am using CUDA7.5 on an AWS EC2 instance with 16.04 and a Tesla K80:
[code]

The GPU is installed and working correctly on CUDA7.5

[code]

[2017-07-05 00:50] dwayneberry commented on #40
It would appear your cmake process did not set the cuda flag. in the build.  You currently have built a cpu only version.

[2017-07-05 00:51] dwayneberry commented on #40
run ``ccmake ..``` in your build directory,  and make sure you have cuda set

[2017-07-05 01:00] tomodachi21 commented on #40
Thanks that was a great help - yes they were set OFF. Recompiling: note for those using 16.04 you will get an error about the version of gcc and g++ you are using, you can fix that by doing this

$ sudo ln -s /usr/bin/gcc-4.9 /usr/local/cuda-7.5/bin/gcc
$ sudo ln -s /usr/bin/g++-4.9 /usr/local/cuda-7.5/bin/g++

Thanks to
https://github.com/NervanaSystems/neon/issues/246

[2017-07-05 01:05] asuhan commented on #40
@tomodachi21 Indeed, CUDA 7.5 doesn't support gcc 5 and higher. Alternatively, you could upgrade to CUDA 8.

[2017-07-05 01:09] tomodachi21 commented on #40
Thanks @asuhan  will look into that, had cuda-8.0 installed on my 14.04 before updating to 16.04 but it seems to have been removed an installing it again is not easy. Getting another error now trying to work through:

[code]

[2017-07-05 01:15] asuhan commented on #40
You have both 1.58 and 1.64 versions of Boost in your library path. You have a few options:

1. Uninstall Boost 1.64 through apt-get.
2. Build mapd using exclusively what you get through apt-get, don't use `mapd-deps` at all (just remove the folder).
3. Play with library paths so that 1.64 isn't seen by the linker and the loader.

We've written the instructions with a clean installation of 16.04 i

[2017-07-05 02:02] dwayneberry commented on #40
I just did a build form clean machine on a p2.xlarge instance to double check our instructions:

AMI from market place : ```ubuntu/images/hvm-ssd/ubuntu-xenial-16.04-amd64-server-20170619.1```

update machine:

[code]
install cuda:
[code]
install our dependencies (copied from readme here https://github.com/mapd/mapd-core)
[code]
one change here as you need to do sudo on final arrow install (note t

[2017-07-05 07:46] #22 closed

[2017-07-06 19:50] trxcllnt commented on #31
I had a similar issue today setting up a new machine. Here's the steps that worked for me (from [this article](https://srikanthpagadala.github.io/notes/2016/11/07/enable-gpu-support-for-tensorflow-on-macos)):

1. download Xcode 7.2.1 from the [apple developer website](https://developer.apple.com/download/more/)
2. create a new directory /Applications/XCode7.2.1/
3. copy the entire XCode.App inside

[2017-07-07 17:43] dwayneberry opened #42 "WITH not behaving as expected"
I'm trying to use table expressions, eventually using them in joins but seem to be hitting limits. The following code snippets show the issue:
[code]
This is fine:
[code]
As is:
[code]
However, the following fails:
[code]
[code]
Similarly, I get the same error if I try to use the select expression in a join.

I can start to work round it by using:
[code]
but is there a simpler/better way?

Thanks,

[2017-07-07 17:44] dwayneberry commented on #42
Hi,

I can reproduce your issue with WITH not sure what is going on there will need to investigate.

As a work around you can use a view

[code]
and query like
[code]
hope this helps

regards

[2017-07-08 00:24] dwayneberry commented on #42
Additional info

this works:
[code]
The calcite process is losing something when as alias is used

[2017-07-08 05:01] dwayneberry commented on #42
closed with 9738335e81a

[2017-07-08 05:01] #42 closed

[2017-07-08 07:50] a-ghorbani opened #43 "sql_execute_gpudf` returns 'Exception: CHAR is not supported in temporary table.') for TEXT columns"
If a column type is a `TEXT` or `[VAR]CHAR` and is queried via `sql_execute_gpudf` returns an error like `TMapDException(error_msg='Exception: CHAR is not supported in temporary table.')`
Despite the fact that the compression type is `ENCODING DICT`.

Though, I expect from (`mapd-core/QueryEngine/InputMetadata.cpp` line ~76-79)
[code]
if the type is string (any `(CHAR || TEXT || VARCHAR)`) and the

[2017-07-08 08:27] a-ghorbani commented on #43
To reproduce the error:

1.
[code]
2.
[code]

[2017-07-08 10:40] andrewseidl commented on #43
Are you building Core yourself or using a prebuilt Community Edition? Text support in GDF/Arrow dataframes was introduced about a week ago around commit baf29451a and will be included in next week's Community release.

GDF support is still in alpha and subject to some API changes. Similarly [mapd/pymapd](https://github.com/mapd/pymapd) is still under development, though it is a convenient way to a

[2017-07-08 16:23] a-ghorbani commented on #43
Awesome @andrewseidl! That works now \m/

But it seems `libgdf_cffi==v0.1.0a1.dev` is not compatible with the changes.
[code]
returns
[code]
I'll see if I can get it work.

[2017-07-12 07:43] flowbehappy opened #44 "Compile failed on Ubuntu 16.04: FLEXPP_EXECUTABLE-NOTFOUND: command not found"
$ make -j 4

and produce the following errors.

[code]

[2017-07-12 07:50] asuhan commented on #44
Try to install the `flex-old` package. We might need to update our documentation.

[2017-07-12 11:19] flowbehappy commented on #44
@asuhan Thank you!
I installed `flex-old` and the previous issue seems gone. But comes another one below. I am not sure if it is my environment's problem.

[code]

[2017-07-12 17:24] asuhan commented on #44
Which version of g++ are you using? Try 4.9 on Ubuntu 16.04. I've seen this before and it's an incompatibility between the g++ version and the libstdc++ headers.

[2017-07-13 02:27] flowbehappy commented on #44
@asuhan
I switched my compiler from clang back to gcc and it worked. Thank you!

[2017-07-13 07:28] julianhowarth opened #45 "JDBC PreparedStatement won't work with parameter as last element"
Using release 3.1.1 and the associated jdbc driver lib.

[code]

In Java code, assuming properly set up connection:
[code]
fails with:
[code]

This is due to the `MapDPreparedStatement` at https://github.com/mapd/mapd-core/blob/master/java/mapdjdbc/src/main/java/com/mapd/jdbc/MapDPreparedStatement.java#L84 initially splitting the SQL String using `.split`. The javadoc for that method states:

Ther

[2017-07-13 18:09] dwayneberry commented on #45
@julianhowarth  Thanks for that.

Are you thinking you might prepare PR to fix this?

[2017-07-13 18:11] julianhowarth commented on #45
I can do - do you have a set of contributor guidelines/requirements?

[2017-07-13 18:18] dwayneberry commented on #45
@julianhowarth

Great, thanks

Yes please see https://github.com/mapd/mapd-core#contributing

[2017-07-15 16:34] flowbehappy opened #47 "Compile failed in Qt Creator: cmake: No such file or directory"
I tried to import mapd-core into Qt Creator 4.3.1 and compiled, came out with the following error.
It is probably caused by miss configurations in the IDE, but would be greatly helpful if you can give me a hint.

[code]

Node that by checking the log, Qt Creator use server mode with cmake, to generate targets, e.g:
[code]

[2017-07-16 07:44] flowbehappy commented on #47
Got fix by setting environment vars like PATH to IDE.

[2017-07-16 07:44] #47 closed

[2017-07-16 07:44] #44 closed

[2017-07-20 17:50] dwayneberry opened #48 "Multiple table join give incorrect result when joining to two dimension tables"
Setup - Watchdog is not enabled  ```--enable-watchdog=false```

[code]
result as expected

[code]
add additional return flight

[code]
incorrect result
[code]

[2017-07-20 18:13] dwayneberry opened #49 "Add support for Truncate"
Add ```TRUNCATE TABLE <TABLENAME>``` to product.

result of truncate:

Table definition exists for table but all data on disk and in memory is removed.
Will currently remove data from dictionary but there is an open question of whether we may want an option to keep dictionary.

[2017-07-20 21:33] billmaimone commented on #49
Not a great idea to purge the dictionary if it's shared, but maybe the truncate is going to be followed by reloading with updated comment and substantially same dictionary encodings.  Maybe this and shared dictionary means there should be something like a clean or truncate dictionary?

[2017-07-21 18:55] dwayneberry opened #50 "Failing to load Sharded table with TEXT shard key"
Create statements:

[code]

Copy statement
[code]

data is
profile.csv
[code]
stories.csv
[code]

Currently failing with
[code]
it is rejecting all shard types except integer

[2017-07-21 19:08] m1mc commented on #48
If we insert the 2nd row to `flights` before all queries, result is correct:
[code]

[2017-07-22 01:22] #50 closed

[2017-07-25 02:55] #48 closed

[2017-07-25 16:48] dwayneberry commented on #49
closed with 45f8069ac34ba1b4b07c7759ed822f44397f6f44

[2017-07-25 16:48] #49 closed

[2017-07-25 16:50] dwayneberry commented on #40
closing this issue as no further info available.  Appears issues were environmental

[2017-07-25 16:50] #40 closed

[2017-07-25 17:08] dwayneberry opened #51 "Remove our special aiias handling as Calcite 1.13 should support this directly"
Currenty we process and manage aliases in sql ourselves via manipulation in the Calcite parser interface.  We should not have to do this as Calcite 1.13 should now allow for aliases in group by etc..

Remove our code and confirm all works with native Calcite.

[2017-07-29 00:26] asuhan commented on #51
Is this fixed by efd1e5504aa482e9c39a169dd7f6085d9b704189?

[2017-08-01 04:34] dwayneberry commented on #51
This is closed with https://github.com/mapd/mapd-core/commit/efd1e5504aa482e9c39a169dd7f6085d9b704189

[2017-08-01 04:34] #51 closed

[2017-08-01 04:37] dwayneberry opened #52 "Long string causes entire COPY to fail with : Exception: String too long for dictionary encoding"
If there is one bad long string (length greater than 2^16) the COPY process will exception out rather than just rejecting that row.

Work around is to clean the junk data prior to COPY command

[2017-08-03 06:36] dwayneberry commented on #52
fixed via 8c56b46d22efcaa5b2e5

[2017-08-03 06:36] #52 closed

[2017-08-05 08:27] a-ghorbani commented on #43
This issue basically can be closed.
It is addressed here: https://github.com/mapd/pymapd/issues/14 in https://github.com/mapd/pymapd/pull/16.

[2017-08-05 08:27] #43 closed

[2017-08-16 16:51] cjaensch opened #54 "Build on macOS Sierra failed: Importer.cpp calls deprecated gdal class OGRSFDriverRegistrar"
__Failed__ to build mapd-core on macOS Sierra (v 10.12.6 ) with the following error messages during build stage (i.e. 'make -j 4' invocation).
Note: I installed *all dependencies* captured in "mapd-deps-osx.sh" and also set all ENV variables defined there.
Note: I installed gdal version 1.11.5 via Homebrew (see below):
[code]
---- Excerpt of build error messages
[code]

[2017-08-16 17:31] cjaensch commented on #54
Update from cjaensch => build works after switch to gdal version 2.1!

Once I checked on the latest version of GDAL, I uninstalled gdal version 1.11.5 together with all it's dependencies using Homebrew!
Then I installed GDAL version 2.1 instead using: `brew cask install gdal-framework`.

Afterwards I removed the build directory and rebuilt everything from scratch ... and voila it works!!!

Please

[2017-08-16 17:31] #54 closed

[2017-08-19 17:31] wesm opened #55 "Build with ARROW_NO_DEPRECATED_API"
Since the Arrow C++ public API is still evolving, some APIs may become deprecated and eventually change. If you add this compile definition, it will disable any deprecated APIs so that you have an opportunity to fix them as early as possible, and this will help avoid disruptions when upgrading to new versions of Arrow. We are using this define to assist with graceful deprecations

[2017-08-20 17:33] wesm opened #56 "Use Arrow vector appends vs. scalar appends"
The Arrow builders support batch appends which have better performance than a loop with scalar appends, see:

https://github.com/mapd/mapd-core/blob/master/QueryEngine/ResultSetConversion.cpp#L223

One issue is that these APIs (e.g. see http://arrow.apache.org/docs/cpp/classarrow_1_1_primitive_builder.html#af56d2faa32f2008bf4fe8ceb4742b007) expect an array of bytes for the is_valid indicator rathe

[2017-08-20 17:48] wesm opened #57 "Arrow API improvements for POSIX shared memory"
In reviewing https://github.com/mapd/mapd-core/blob/master/QueryEngine/ResultSetConversion.cpp I suspect there are some things that could be done to make reading and writing IPC messages with POSIX shared memory a lot simpler for third parties. I opened https://issues.apache.org/jira/browse/ARROW-1385 upstream in Arrow about this

[2017-08-23 16:53] harshada-chavan opened #58 "Supporting Geospatial Operations"
Hello,

Currently, MapD does not support a variety of geo-spatial operations such as spatial kNN queries, spatial join queries, etc. Since, these queries are compute intensive, GPUs will be tremendously beneficial for boosting their performance. I (as a part of my PhD work), am working towards adding this functionality in MapD-core and planning to release it to the community. I am currently unders

[2017-08-23 18:09] eyalroz opened #59 "Us Debian/Ubuntu users could use an own installation script too..."
The repository's README.md has a long and non-trivial sequence of installation instructions, some of which may be a bit brittle (e.g. what if you're missing `deb-src` lines in your apt sources.list?)  - I'd say it's enough to merit a dependencies installation script for debian-based distributions under `scripts/` - wouldn't you? ... it makes us feel left out relative to, what is it, CentOS and Mac

[2017-08-23 18:21] eyalroz opened #60 "Building thrift fails when not building as root - some configuration missing"
I'm following the README build instructions on a Debian-based distribution (Mint 18.2, which itself is based on Ubuntu 16.04).

Now, I've gotten to the part where I'm building thrift. Since I'm not root, here's how I configured it:
[code]
That is, same as in your instructions but under a folder of my own, not the system-wise `/usr/local/mapd-deps`. Then, while `make`ing, it seems additional packag

[2017-08-23 20:58] shtilman commented on #58
Hi Harshada,

Welcome to the MapD community!

In case you missed it, we do have some geospatial features in the works:
https://github.com/mapd/mapd-core/blob/master/ROADMAP.md#gis
Hopefully you'll be able to build upon this functionality, once it lands.

Spatial kNN in particular could be implemented through sorting by ST_Distance() to the neighbors, in ascending order, and then taking the top K t

[2017-08-23 21:32] andrewseidl commented on #60
Thanks for your interest in MapD.

In this case (avoiding all elevated privs) it looks like the appropriate change would be to set the `JAVA_PREFIX` env var when running `configure`. I'll add this to the readme after verifying the change.

[code]

[2017-08-24 17:08] eyalroz commented on #60
Also consider using an environment variable for the dependencies directory, i.e.
[code]
and then using that in the rest of the instructions, so that when someone installs as a non-privileged user they'll just replace that line with, say
[code]
and will be able to copy-paste the rest of the instructions (except for the sudo ones which will have to go to their system administrators).

[2017-08-25 16:23] harshada-chavan commented on #58
Hi Dmitri,

Thanks for the help. I will share my plane with the team.

Could you please let me know which files contain the implementation for the existing geospatial operators such as ST_Distance?

Thanks,
-Harshada

[2017-08-25 16:30] averigin opened #61 "View Queries Fail with: "Exception occurred: java.lang.NullPointerException""
I'm using MapD 3.2.0 and have created a view based on the results of a `LEFT JOIN`. E.g.:
[code]
Both `stringValue` columns used in the join are `TEXT ENCODING DICT(32)`.

The view is created successfully. I create an Immerse dashboard from the view containing a map (based on GPS data from `Table1`) and a bar chart (record counts based on the `somethingElse` column from `Table2`). This works as ex

[2017-08-25 18:11] asuhan commented on #61
@dwayneberry you might want to have a look.

[2017-08-25 20:44] shtilman commented on #58
Hi Harshada,

This is work in progress, I will point you to the changes once they land in mapd-core.

Thanks,
Dmitri

[2017-08-30 18:12] anshumang opened #62 "CPU-initiated point-to-point for target==self"

[2017-08-30 23:53] #59 closed

[2017-08-30 23:53] #60 closed

[2017-08-31 05:55] asuhan commented on #62
@anshumang Can you add some details to it? I can't tell from the title what this task is about.

[2017-08-31 05:57] anshumang commented on #62
@asuhan Sorry my bad, posted in wrong repo..closing

[2017-08-31 05:57] #62 closed

[2017-08-31 23:56] dwayneberry commented on #61
@averigin I have tried to identify the issue you are seeing and currently cannot get any error to occur.

i built a similar dashboard to what you described above using the default 10K flights dataset joined to a table with state name and state abbreviations

[code]
The state_abbr is
[code]
Can you reproduce on this simple set up?

I will need some further information from you and logs and data if

[2017-09-01 19:29] jcdang opened #63 "Where is FlexLexer.h?"
/Users/jeffrey/projects/mapd-core/Parser/parser.y:120:10: fatal error: 'FlexLexer.h' file not found
#include <FlexLexer.h>

[2017-09-01 19:50] #63 closed

[2017-09-01 22:01] averigin commented on #61
I think I've figured out a way to reproduce the problem:

  1. Import the flight data and state abbreviations into a database and create a view from these (as outline above).
  2. Create a dashboard based off of the view from 1 (point map of `dest_lat` & `dest_lon`, bar chart of `dest_city` by record count).
  3. Create a second database and import the flight data into a table in this database.

[2017-09-02 08:53] everywan commented on #39
hi @neko940709,
Just try update mapd.
Today I have encountered the same problem, and it solved after i update my mapd. (rebuild mapd)

[2017-09-02 21:59] wesm opened #64 "Linux-distro independent build toolchain"
I'm following the build instructions on Ubuntu 14.04. The diversity of system toolchains I find is a recipe for brittleness when it comes to developing something like a database with a lot of dependencies. Many Linux packages aren't built with -fPIC, for example.

In the Impala project, they developed a fully self-contained build toolchain (outside stable dependencies like autotools) so that any r

[2017-09-02 22:12] asuhan commented on #64
We have prebuilt dependencies per https://github.com/mapd/mapd-core#dependencies. Not sure about ABI compatibility with other distros (FIPS? glibc symbol versions?), but they worked at some point on Ubuntu as well, so it's a starting point.

@andrewseidl Have we tried to just use one version of the dependencies at least for our internal CentOS and Ubuntu builds and see how it goes? If we build the

[2017-09-02 22:18] wesm commented on #64
Are those pre-built dependencies posted online someplace to download? One approach is to build these with RedHat devtoolset-3 or 4 on CentOS 6 to avoid glibc and libstdc++ problems

[2017-09-02 22:21] asuhan commented on #64
Yes: `https://internal-dependencies.mapd.com/mapd-deps/mapd-deps-latest.tar.xz`, per the `https://internal-dependencies.mapd.com/mapd-deps/deploy.sh` mentioned in the readme. Indeed, using devtoolset on CentOS 6 would be the safest bet for a binary compatible set of dependencies.

[2017-09-05 16:26] #55 closed

[2017-09-05 19:12] renderit opened #66 "JDBC download"
Hi is there a download available for mapd jdbc driver? (without building the whole program)
I'm trying to use the [SQL importer](https://www.mapd.com/docs/latest/mapd-core-guide/loading-data/#sql-importer) for postgres to mapd
I'm using docker for both postgres and mapd so trying to avoid installing system wide stuff

[2017-09-05 19:17] dwayneberry commented on #66
SQL Importer does not need the MapD JDBC driver to run.  It talks to MapD natively.  It needs a JDBC driver for the source database you are going to export from.

As an aside the jdbc driver ```mapdjdbc-1.0-SNAPSHOT-jar-with-dependencies.jar``` should be available in your bin directory of your server.

[2017-09-08 05:57] fleapapa opened #67 "small errors in scripts/mapd-deps-ubuntu.sh"
The two lines in scripts/mapd-deps-ubuntu.sh

seem ought to be

[2017-09-08 19:28] fleapapa opened #68 "Without GPU why it took so much time???"
My host has no GPU. I've injected ~170 M NYC Taxi trip records to MapD and tested some simple queries. The queries were not fulfilled very quickly. For example, this query

$ time echo "select avg(trip_time_in_secs) from trips;" | mapdql mapd

During the query, i observed ~20MB/s of data read rate. Assumed that 170M rows of 'trip_time_in_secs' values take 300MB after compression, it shouldn't take

[2017-09-08 19:29] asuhan commented on #68
Is this from cold cache? What happens if you run the query again?

[2017-09-08 19:33] fleapapa commented on #68
Wow! Thanks for the prompt response!
Yes, 2.5min was from cold cache. If not cold, the same query is finished in a second.
Why does it take MapD so long to read 170M integers from disk at 20MB/s rate?

[2017-09-08 19:36] asuhan commented on #68
I don't know, 20MB/s does sound pretty low indeed. We see much better throughput on our servers, is this a spinning disk by any chance? That being said, the assumption of the product is that the workload fits in memory, once it's warmed up queries will be fast.

[2017-09-08 19:37] dwayneberry commented on #68
How did you load the data into the system?

Did you use a bulk load COPY FROM statement?

Could you share the logs of the DB startup plus the first query?

[2017-09-08 19:44] fleapapa commented on #68
@asuhan. I got your point but if i toggle between querying 2 or more different columns i always got >20s response time. That seems not practical for interactive (<3s) query purpose; for example, a web page may issue 10+ queries on different columns.

My host has 1GB available memory while i guess 170M x 2 columns should take less than that amount of memory.

[2017-09-08 19:45] fleapapa commented on #68
@dwayneberry. Yes, i used COPY FROM. It took few tens of minutes to load the data.

Here is the startup log:
E0908 12:11:42.807757 13196 MapDHandler.cpp:169] This build isn't CUDA enabled, will run on CPU
Thrift: Fri Sep  8 12:11:42 2017 TSocket::open() connect() <Host: localhost Port: 9093>Connection refused
Thrift: Fri Sep  8 12:11:43 2017 TSocket::open() connect() <Host: localhost Port: 9093>Co

[2017-09-08 19:46] asuhan commented on #68
1GB is way, way too little memory. We don't optimize for that case. It does take less than that amount memory, but it's *extremely* marginal and there are other things, both on the system and in the executable, which use memory as well.

[2017-09-08 19:50] fleapapa commented on #68
What i mean 1GB free memory is after loading mapd-server. I would guess it is sufficient to hold 170M of two columns in memory w/o thrashing :)

My use case is simply to compare simply queries among different columnar databases like MapD and others like Clickhouse.

[2017-09-08 19:53] asuhan commented on #68
The reason it's using more than 1GB is probably the way our pooled memory allocation works. It's fairly configurable and we could expose an option to make it work under this type of memory pressure. That doesn't mean we should, though; running on a system which has 1GB of memory left is not a goal of the project.

[2017-09-08 20:00] fleapapa commented on #68
Got it. Thanks!

[2017-09-08 20:28] fleapapa commented on #68
BTW. FYI. On the same host and environment, WITHOUT data cached, ClickHouse finished the same query in ~20 secs. WITH data cached, it took <1s like MapD does.

Still, MapD is doing great without index. Keep on the excellent project!

[2017-09-08 20:29] #68 closed

[2017-09-08 21:31] cdessanti commented on #68
My gaming desktop has a troughput in disk of 500mb/sec on a single sata ssd disk

Ottieni Outlook per iOS<https://aka.ms/o0ukef>
________________________________
From: Flea Papa <notifications@github.com>
Sent: Friday, September 8, 2017 9:33:54 PM
To: mapd/mapd-core
Cc: Subscribed
Subject: Re: [mapd/mapd-core] Without GPU why it took so much time??? (#68)

Wow! Thanks for the prompt response!
Yes,

[2017-09-08 21:33] renderit commented on #66
@dwayneberry Thanks for the prompt reply. Yes, the jar in the bin is what I was looking for. I have a postgres database running in a docker container and a mapd in another container.  Is `mapdjdbc-1.0-SNAPSHOT-jar-with-dependencies.jar` available in the git repo? Any recommendations on proceeding with this?

[2017-09-09 00:11] fleapapa commented on #68
@asuhan,

In my opinion, the issue (at least for my test case) seem more related with how MapD loads and processes cold data than with memory pressure because, after i added another 1GB memory to my (VM) host, the same query still took 2m50s. After the query, free memory is 700+MB, so memory seems still ample :)

I know my disk is slow, but my test is comparative versus another two databases, one

[2017-09-09 00:16] dwayneberry commented on #68
@fleapapa

Could you please include a compete log of the server startup including the execution of the first query.  This will help us identify the delay you are experiencing.  Is the machine a virtual machine or bare metal?

thanks

[2017-09-09 00:19] fleapapa commented on #68
@dwayneberry , where can i find the complete log other than the one i posted previously?

[2017-09-09 00:21] dwayneberry commented on #68
@fleapapa That log you sent earlier is the correct one, its just only had the first few lines of the startup.  Restart the server. run your query. stop the server.  then send us the mapd_server.INFO.log

[2017-09-09 00:29] fleapapa commented on #68
@dwayneberry. I did it again but the log shown on my screen looks the same as the previous one.
I can't find any file named mapd_server.INFO.log on my filesystem.
i started the mapd server using the following command:
       mapd/bin/mapd_server  --data /mnt/trip/mapd/data

[2017-09-09 00:31] dwayneberry commented on #68
@fleapapa The file is just `mapd_server.INFO` it is a symbolic link to the latest log.  In your case it should be in `/mnt/trip/mapd/data\mapd_log\mapd_server.INFO`

[2017-09-09 00:33] fleapapa commented on #68
@dwayneberry, here you go:
cat /mnt/trip/mapd/data/mapd_log/mapd_server.INFO
Log file created at: 2017/09/08 17:22:15
Running on machine: osboxes
Log line format: [IWEF]mmdd hh:mm:ss.uuuuuu threadid file:line] msg
I0908 17:22:15.659196  4637 MapDServer.cpp:602] MapD started with data directory at '/mnt/trip/mapd/data'
I0908 17:22:15.705051  4637 MapDServer.cpp:609]  Watchdog is set to 1
I0908 17:2

[2017-09-09 07:43] dwayneberry commented on #68
@fleapapa Thanks for the log

The issue does appear to be stemming from your slow (extremely slow) disk access speeds.  it is not related to your memory footprint directly (there could be knock on memory issues that slow disk processing down due to OS caching and flushing etc)

Accesses that on a regular machine that take .8 secs are taking 107 secs on your machine.

Here is an equivalent log from

[2017-09-09 14:31] fleapapa commented on #68
@dwayneberry, thanks a lot for the analysis. I really appreciate it!
First of all my disclaimer: I am not an employee of or affiliated with any of the companies which own the databases that i'm testing. For my current company project I'm simply trying to find an OLAP database that is best suitable for hundreds of TBs of network metrics (from reports by millions of endpoint per minute with each rep

[2017-09-09 14:47] fleapapa commented on #68
By the way, i'm going to setup another VM with a faster disk and larger memory for the same comparison test. Will update later.

[2017-09-10 00:25] dwayneberry commented on #68
@fleapapa

Thanks for your detailed response.  We are always trying to improve all of MapD, currently we are not specifically focused on the cold load times, but we certainly have some places we know we can improve, so your feedback and experience is much appreciated.

Based on your use case I'm curious why cold start time is such a big issue?  Its seems steady state with constant insert would be

[2017-09-10 01:38] fleapapa commented on #68
@dwayneberry, thanks for response again.

Quote:

For columnar databases, heavy constant insert seems not a big issue. That's one of the reasons why i proposed to fork input data stream to a columnar database and gradually moving away from existing non-columnar databases. **Interactive query** is another (big) reason of doing so. Currently we're using a document-based NoSQL database to store JSON

[2017-09-10 05:53] fleapapa commented on #68
@dwayneberry, here comes "cold start" results from the other database after boot up on a 6-core VM with 5GB free memory and a SATA 6 Gb/s 7200 RPM Hard Drive:

With an indexed column in filter condition, the time is:

The query that you're interested:

Will post result from MapD tomorrow after installing it on this VM tomorrow...

[2017-09-10 14:58] fleapapa commented on #68
@dwayneberry, here is the result of queries, each of which was done right after MapD boot up:

Aggregation w/o a filter:

Reboot MapD and query with a filter:

Reboot MapD and query with another filter:

The results seem consistent.

I also redid test on the other columnar db and updated the results in previous cell. System cache was cleared and the db was restarted before each query was submitted

[2017-09-10 15:44] fleapapa commented on #68
By the way, in my test both databases perform almost equally well after cold data has been loaded in memory.

With MapD:

With the other database:

Considering the overhead bash forks a process, i guess MapD is bits faster in this case. From source code, it seems MapD dynamically generates LLVM IR code while the other database does not. I suspect whether the small performance gain can really justi

[2017-09-10 15:56] tmostak commented on #68
@fleapapa I think some of the initial cold load slowness is because we by default reserve the CPU buffer pool in 4GB chunks, which means that you are swapping.

You can control the CPU buffer pool size with the --cpu-buffer-mem-bytes on mapd_server .

(Note: just saw that you increased the RAM allocated to the VM, still lowering the buffer pool size could help some).

In general users can get clos

[2017-09-10 16:03] tmostak commented on #68
I should also add that much of the benefits of query compilation emerge with more complicated queries as compilation means you don't have to materialize intermediate results after each operation.

[2017-09-10 16:48] fleapapa commented on #68
@tmostak, thank you for the comment.
I changed --cpu-buffer-mem-bytes setting, cleaned file cache and restart mapd server

but the query still took similar time.

I'm sure my VM has 4+GB free memory after mapd started. A 1GB chunk of cpu buffer should be more than enough to hold 170M values of a column.

The time taken seem much more than "ideal" I/O time of 170M values of a column per transfer ra

[2017-09-11 17:50] dwayneberry commented on #66
@renderit

As mentioned above SQLImporter does not need the mapd jdbc driver.

`mapdjdbc-1.0-SNAPSHOT-jar-with-dependencies.jar` will be available in your bin directory in your dockers image, but it is not needed to run `SQLImporter`

I'm not sure if you still have a question?  Please clarify the question if you are waiting on a response?

[2017-09-11 20:28] dwayneberry commented on #61
@averigin

When you say ```2. Create a second database and import the flight data into a table in this database.``` i am assuming you mean ```create database mydb```, not meaning start another instance of MapD running?

Can you please confirm.

[2017-09-11 20:45] averigin commented on #61
Correct: it's 2 databases running within a single `mapd_server` process.

[2017-09-11 20:51] dwayneberry commented on #61
@averigin I cannot reproduce this issue internally.  I know there was one fix related to this area but that was before v3.2.0.  Could you please upgrade to v3.2.2 and see if you can reproduce with the simple scenario.
If you can still reproduce the error still, please send me a copy of the mapd_server.INFO log

[2017-09-11 23:14] sklam opened #69 "Performance issue with Arrow formatted query output"
Fetching large dataframe with `.select_ipc_gpu` and `.select_ipc` is currently slower than reading from disk with pandas.

I have prepared a notebook to demonstrate the issue: https://gist.github.com/sklam/4ae805c40abc3547b14719438f3c2846).  A `.select_ipc_gpu` takes 3mins while `pandas.readcsv` takes 49s.  The result is obtained on a Ubuntu16.04 with mapd 3.2.3dev.  GPU is GTX 1080.

On a separat

[2017-09-12 04:14] billmaimone commented on #69
@andrewseidl @asuhan @m1mc Is this CPU reduction?

[2017-09-12 04:16] asuhan commented on #69
You mean conversion. Could be both that or the Python connector itself, I'll try to have a look this week.

[2017-09-12 04:27] m1mc commented on #69
Likely to be CPU serialization perf issue again.

[2017-09-12 18:59] billmaimone commented on #69
@asuhan It'd be useful to know in whose component something might be done, so they can take ownership to drive.  Could be python connector, maybe MapD, maybe Arrow, thrift, who knows...

[2017-09-17 04:04] fleapapa opened #70 "Calcite parser performance"
Did a test by feeding 1M SQL queries to mapd-server via mapdql.
Every query is the same and is "select t.* from t where t.a = t.b and t.c = 99;".
Table 't' does not exist, so the queries should incur minimum (I/O) work load.
The 1M query strings are stored in file '1'.
Ran command "time cat 1 |  mapd/bin/mapdql mapd -u $MAPD_USERNAME -p $MAPD_PASSWORD 1>&2 2>/dev/null" to start the test.

Saw a do

[2017-09-17 04:20] asuhan commented on #70
For that high frequency of queries to materialize, the execution time would have to be the same order of magnitude of the parsing time. With a fully warmed up JVM, Calcite takes ~3-4 milliseconds IIRC. Having well-formed queries on a big enough data set complete this quickly would be a great problem to have :). But we actually agree it's still not great and have a few ideas how to fix it -- we can

[2017-09-17 05:06] fleapapa commented on #70
Thanks for the lightning response again :)

Looking from cpu usage, warming up Calcite JVM seemed taking only 2~3 seconds during which cpu was fully busy. It is suspicious that cpu then became only ~60% busy after JVM was warmed up. There seemed task transition gap in mapd's processing pipeline (if any). Because the table 't' doesn't exist, there should be no or very short I/O waiting time that ca

[2017-09-17 17:22] fleapapa commented on #70
Later i realized that the gap is not an issue but a consequence of running only one mapdql which is able to send only one query at a time so unable to saturate work load of all mapd and calcite worker threads.

When running the same test command on two separate terminal windows simultaneously, cpu usage became always 100% on my 2-core VM (though now it has 2M queries to parse :)

[2017-09-18 05:35] baank opened #71 "JDBC/Thrift Java Code should be in Maven"
It is not acceptable to just force users to embed the map*dependencies.jar files.

For one it prevents us from excluding transitive dependencies, in particular your use of SLF4J which prevents MapD from being used in Play applications.

Instead all your Java code should be stored in a Maven repo. Either a public one or self hosted.

[2017-09-18 17:42] njmarshall opened #72 "ROUND function crashes upon ROUND(integer_val, 0)"
Initially, I got informed of a bug report from the community re: ROUND function:
https://community.mapd.com/t/round-function-in-custom-expression-for-table-chart-leads-to-core-dump/513

In investigation I ran a simple test case including a table with different numeric datatypes as small integer, integer, decimal and float and was able to reproduce the issue:
[code]
Here are calcite logs from mapd

[2017-09-18 17:43] njmarshall commented on #72
I will continually run different test cases and add comments soon.

[2017-09-18 19:09] dwayneberry commented on #71
Hi

All the java code for the jdbc driver is in a maven project in the OS repository

<repo_dir>/java/

Is there something more you think is required?

[2017-09-18 20:13] asuhan commented on #72
I know what's going on, the `ROUND` implementation in `QueryEngine/ExtensionFunctions.hpp` is not correct. The arity is incorrect, also it cannot be fully implemented as an extension since the return type depends on the input. We have to handle it more like `CEIL` / `FLOOR` / `TRUNCATE` than an extension function.

[2017-09-18 21:02] asuhan commented on #72
Commit 6f2730e5a5027b5d37eedbbf65c244e700c76436 avoids the crash, the server reports that the `ROUND` function is not supported yet, which is actually true.

[2017-09-18 21:02] #72 closed

[2017-09-18 21:03] asuhan opened #73 "Implement ROUND function"
We have `ROUND_TO_DIGIT` which is meant to serve the same purpose, but it isn't precise (converts the first argument to double) and its return type is always `DOUBLE`.

[2017-09-18 21:04] asuhan commented on #72
Filed https://github.com/mapd/mapd-core/issues/73 instead.

[2017-09-19 11:31] owenrh opened #74 "Immerse not rendering BIGINT values correctly"
Hi,

I’m seeing some unexpected behaviour around BIGINTs. [I’m running MapD v3.2.2 on Ubuntu 16.04.3 LTS (GNU/Linux 4.4.0-1030-aws x86_64).]

If I create a table as follows:

_CREATE TABLE some_ints( intval BIGINT );_

then insert a row as follows:

_INSERT INTO some_ints VALUES(4489949424181064562);_

if I then select the contents of that table, in Immerse, I get a single row with the value being

[2017-09-19 17:07] TomAugspurger opened #75 "Segfault with binary column loader"
This produces a segfault with master as of yesterday:

[code]

Heres the traceback:

[code]

The output from the server's console is `Segmentation fault: 11`

Perhaps interestingly, the order seems to matter.

[code]

Does not produce a segfault.

[2017-09-19 20:07] fleapapa opened #76 "Failed to run the cardinality estimation query"
I just found that with single GROUP BY column MapD is much much faster than Clickhouse. For example, on the same host, the following query took CH 50+ seconds but took MapD <1 sec to finish, once after the data set (172M rows) was "warmed up" in memory. (really amazing!!)

However, the following query with multiple columns in GROUP BY clause

took CH 120 secs to finish but caused MapD to fail with

[2017-09-19 20:37] fleapapa commented on #76
Also, with single column in GROUP BY clause, if the query contains a WHERE clause, the response time became either significantly longer or unpredictable.

For example, on the first execution of this query:

it returned an error:
Exception: Query couldn't keep the entire working set of columns in GPU memory

On the 2nd execution, it returned a numerical result in 6.5 secs.
On the 3rd execution, it

[2017-09-19 20:43] dwayneberry commented on #76
What is the hardware you are executing on.

Can you share your log.

I suspect you are very tight on GPU memory and having issues there.

What is the size of the table you are trying to work on?

[2017-09-19 20:49] fleapapa commented on #76
The VM is Ubuntu 16.04 hosted on a i5-3570K server with 8GB memory but without GPU.
After mapd-server is launched, the query has >4GB free memory to run, i'm sure.
The data set contains 172M rows of NY taxi data.

INFO log follows:
Log file created at: 2017/09/19 12:30:04
Running on machine: osboxes
Log line format: [IWEF]mmdd hh:mm:ss.uuuuuu threadid file:line] msg
I0919 12:30:04.880455  8440 Map

[2017-09-19 20:54] fleapapa commented on #76
When the query could execute and return a value (13714), system free memory always showed 3+ GB free memory, so CPU memory seemed not an issue...

[2017-09-20 06:17] baank commented on #71
Not sure what you are talking about there.

Long story short. I should be able to go here and find your JAR: http://mvnrepository.com

[2017-09-20 06:21] baank opened #77 "JDBC related code isn't serializable"
Since you guys don't have a Spark DataSource we need to do the following in order to do updates i.e. we can't just use standard Spark JDBC.

[code]

Problem here is that com.mapd.jdbc.MapDPreparedStatement and almost everything in com.map.jdbc isn't serializable.

[2017-09-20 06:22] baank opened #78 "Java code should be in separate Github repository"
If I want to make changes to your Java code (i.e. to add serialization support) I shouldn't need to fork the entire database.

Please create a new repository.

[2017-09-20 06:31] fleapapa opened #79 "How to let Spark access GPU Data Frame (GDF) directly?"
Is there any way for Spark to access GDF like accessing Parquet files rather than like accessing an external SQL database via JDBC?

Not sure if i understand it correctly but the former approach seems much faster, because it will treat MapD as a distributed file system rather than a SQL database. When there are millions/billions rows, it avoids huge data serialization overhead.

[2017-09-20 06:34] asuhan commented on #79
Not sure what you mean, do no operations in MapD and just use it to read columns? That wouldn't benefit in any way from having GPUs.

[2017-09-20 06:39] fleapapa commented on #79
The benefit i can think of is that the huge ecosystem behind Spark becomes available to MapD.
Also, treating MapD like Parquet files actually delegates SQL functionality to Spark SQL. For example, MapD does not support table join. Through Spark SQL, it does.

[2017-09-20 06:42] fleapapa commented on #79
Having Spark in the picture of MapD won't lose the advantage of having GPUs. See https://databricks.com/blog/2016/10/27/gpu-acceleration-in-databricks.html

[2017-09-20 06:44] asuhan commented on #76
First of all it's bizarre to see GPU-related exceptions on a system which doesn't have any GPUs. Can you track down the source of exception with `catch throw` in gdb? You're going to see some Thrift transport exceptions, but once you're past them you'll find the source of the `OutOfMemory` exception.

I think you're seeing some sort of fixed memory overhead again. Since we mainly run on systems wi

[2017-09-20 06:52] asuhan commented on #79
The main reason we're building this from scratch is the traditional one: query execution and data must be in the same address space to achieve speed. It's not clear to me which operations can actually run on GPU in Spark and I'd rather not speculate. But, as a rule of thumb, a very deep amount of integration is needed to actually get good results. That amount of integration would be the moral equi

[2017-09-20 07:02] baank opened #80 "Thrift version used in Java codebase needs updating"
There seems to be a compatibility issue.

If you use thrift to generate the Java files using mapd.thrift then you need version 0.10.0 otherwise it won't work (fails due to lack of recursion). However the entire Java codebase uses 0.9.3.

These need to be kept the same.

[2017-09-20 07:22] fleapapa commented on #79
It seems to me that, MapD core looks like the GPU version of fusion of Apache Phoenix and Kudu projects. If i understand it correctly, Spark can access the data in Kudu's columnar store (https://kudu.apache.org/docs/developing.html#_kudu_integration_with_spark) more efficient than it accesses Phoenix's SQL columnar database via JDBC.

Function-wise the part of source code of Kudu that handles colu

[2017-09-20 07:26] asuhan commented on #79
I'm fairly confident MapD will be able to "attach" to alternative storage in the not too distant future. Yes, I've looked into Kudu, prototyped a few things and it's definitely feasible to use it as an additional storage. The exact time line is not clear, but that integration point makes a lot of sense. I'm not arguing against it, quite the opposite; it'll happen.

[2017-09-20 08:39] neko940709 opened #81 "If the size of dataset exceeds the amount of device memory ???"
About this topic, I've seen two options to deal with it: the first is turn off the option "enable_watchdog", the second is turn on the option "allow-cpu-retry". BUT I've read the source code of Mapd Core 3.1.2, the exception occurs at` handleRetry(`) in `RelAlgExecutor.cpp`, where the code is the following:
[code]
 From the code I cannot find the difference of these two options. Whether they take

[2017-09-20 14:38] fleapapa commented on #79
My point is the opposite. Letting others (especially SPARK) to attach MapD as an alternative storage seems less efforts and more benefits :)

[2017-09-20 15:22] fleapapa commented on #76
To check if the failures reported in my previous comments relate with memory capacity, i did a quick test by creating another table 'trip1' and import only 14M of original 172M rows, then redid the same queries.

This time every query work perfectly (<0.1s!) once data was warmed up. (>6s when cold)

So previous failure were indeed due to memory constraint of my VM. However, one thing i'm still cur

[2017-09-20 15:22] #76 closed

[2017-09-20 15:56] tmostak commented on #79
Generally MapD acts as an accelerator for other stores of record. With MapD several hundred times faster than Spark (http://tech.marksblogg.com/benchmarks.html), and with GPU memory relatively more expensive than CPU RAM or storage, I don't see how it would make sense to put MapD "behind" Spark. Certainly the opposite makes sense to us and is a common use case.

[2017-09-20 16:45] fleapapa commented on #79
Definitely SPARK+Parquet can't compete with MapD on SQL query speed with warm data already in GPU memory.

However, the big number of developers as well as the fast-growing ecosystem surrounding Spark/Hadoop should make certain senses to put MapD behind Spark (not just via JDBC... ["Why not JDBC?"](https://phoenix.apache.org/phoenix_spark.html) )

[2017-09-20 17:57] andrewseidl commented on #80
It sounds like you're using `mvn` directly instead of calling it through CMake. When doing so you'll need to tell Maven which version of the Thrift compiler you used to generate the bindings so that it can grab the correct Thrift client libraries. This is exposed with the `thrift.version` property.

Something like:

    mvn install -Dthrift.version=$(thrift --version | grep -o "[0-9].*")

assuming

[2017-09-20 18:04] andrewseidl commented on #75
Small update: it seems like it's using the size of the first column's data to allocate the buffers for the rest, which is problematic if the columns somehow are different lengths. Should be a quick fix, throwing if the lengths are different.

The ordering appeared to matter because `DECIMAL` columns should actually be integers / stored in `int_col`. So putting the decimal column first with the dat

[2017-09-20 18:59] TomAugspurger commented on #75
Ah, I see.

I was surprised to see that Thrift used the `real_val` for decimals, since they aren't going to actually be fixed precision:

[code]

Does that look like a bug?

[2017-09-20 19:27] fleapapa commented on #79
Quoted

That concern is true for most "developers" or those interested audiences who can't afford many GPUs to warm up their entire big data sets but may have a few 100s GB (not TBs) CPU memory to cache portions of the data, MapD and SPARK actually fall back to the same ground -- both need to load "cold" data into CPU memory **once in a while** depending on query patterns. Consider most applicatio

[2017-09-20 19:29] #79 closed

[2017-09-20 19:56] fleapapa opened #82 "mapd_server crashed when queries and inserts proceeded concurrently"
Tried to simulate a scenario commonly seen in IoT applications where queries and data injections proceed concurrently. Right after the test began, mapd_server crashed.

Not always reproducible.

How to reproduce:
* on one terminal window, repeat query "select count(*) from (select max(trip_time_in_secs) from trip1 where trip_time_in_secs > 10 group by trip_time_in_secs)" every one second.
* on ano

[2017-09-20 20:18] dwayneberry commented on #82
We will try to reproduce, please share the data and the schema to help us expedite the investigation.

We use this model often and the public tweetmap demo is constantly streaming new data in while queries are occuring, so will be great to get to the bottom of this issue.

[2017-09-20 20:35] fleapapa opened #83 "how to retain data for only a period of time (aka. TTL)"
MapD does not support DELETE yet. Any suggestion about how to retain data only for a specific duration without discarding all or creating different tables to store data of different time ranges?

[2017-09-20 20:43] fleapapa commented on #82
Could reproduce it again. This time has slight different crash message:

*** Error in `/data/tmp/mapd/bin/mapd_server': **double free or corruption** (!prev): 0x00007f0651f0e400 ***
======= Backtrace: =========
/lib/x86_64-linux-gnu/libc.so.6(+0x777e5)[0x7f07797f97e5]
/lib/x86_64-linux-gnu/libc.so.6(+0x8037a)[0x7f077980237a]
/lib/x86_64-linux-gnu/libc.so.6(cfree+0x4c)[0x7f077980653c]
/data/tmp/map

[2017-09-20 23:31] baank commented on #80
Then the issue should be changed to remove the thrift.verson property set in all of the pom.xml.

Also it's related to the other issues but we shouldn't need to run cmake in order to make changes to the JDBC driver.

[2017-09-21 01:04] tmostak commented on #82
Hi @fleapapa how much CPU RAM is on this machine? Just wondering if the bug might be related to memory pressure.

[2017-09-21 01:12] fleapapa commented on #82
Just shrank my VM to only one cpu core and doing the same test. I didn't shrink VM memory. Here is top command output. You could see free memory (free + buff + cache) is pretty sufficient while the same test is still proceeding.

%Cpu(s): 98.3 us,  1.3 sy,  0.0 ni,  0.0 id,  0.0 wa,  0.0 hi,  0.3 si,  0.0 st
KiB Mem :  5050956 total,   386840 free,  2814080 used,  1850036 buff/cache
KiB Swap:  838

[2017-09-21 01:16] fleapapa commented on #82
By the way, because there is only one column involved in the repeated query (see 1st comment), i guess the query should not require too much memory more than 172M x 4 bytes.

[2017-09-21 02:50] fleapapa commented on #82
This is interesting but not sure if it is helpful for trouble shooting the issue.

When i shrank my VM to **single** cpu core to do the read-write test for 5 iterations. Mapd_server did NOT crash in any iteration.

When i increased my VM to 6 cpu cores to do the same read-write test for 5 iterations. Mapd_server crashed in 1~2 minutes in **every** iteration.

Wondering if the root cause is a racin

[2017-09-21 03:56] baank commented on #77
The more difficult to fix issue is that the Thrift generated MapD Client is not serializable.

Which means right now you can't do updates in MapD with Spark.

[2017-09-21 03:57] baank opened #84 "MapD needs Spark Data Source adapter"
Given that #77 isn't trivial to fix it looks like that MapD will need a Spark Data Source adapter in order to do basic operations like updates.

[2017-09-21 08:38] neko940709 commented on #81
More, I wanna know how the CPU MODE execute on Mapd??

[2017-09-21 15:27] fleapapa opened #85 "how much memory is needed for this query?"
I tried to calculate a histogram of trip time of a 170M-row NY taxi trip data.

My VM has ~5.5 GB **free** memory right before running the query.

The query is

The result is

(Oddly,  top command showed very few used memory during 30-sec execution of the query)

I know if my VM can have 100 more GBs of memory the result may be different.

What i would like to know is how much memory **approximate

[2017-09-21 16:42] dwayneberry commented on #85
Please include your logs and schemas with your questions, makes it easier to have reasonable answers

[2017-09-21 16:47] fleapapa commented on #85
Schema
=======
CREATE TABLE trips (
    medallion               TEXT ENCODING DICT,
    hack_license            TEXT ENCODING DICT,

    vendor_id               TEXT ENCODING DICT,
    rate_code_id            SMALLINT,
    store_and_fwd_flag      TEXT ENCODING DICT,

    pickup_datetime         TIMESTAMP,
    dropoff_datetime        TIMESTAMP,

    passenger_count         SMALLINT,
    trip_time_i

[2017-09-21 16:50] dwayneberry commented on #85
Your VM is allowing MapD only 104M to work

`I0921 00:32:17.127826 4145 DataMgr.cpp:120] cpuSlabSize is 102.4M`

[2017-09-21 16:52] dwayneberry commented on #85
You would need approximately 170M x 4bytes (integer) + some wiggle room for a query like this

[2017-09-21 16:53] fleapapa commented on #85
My VM has ~6GB free memory before launching mapd_server.
What command line argument do i need to use to let mapd_server use most of the free memory instead of just 102M?

[2017-09-21 16:58] fleapapa commented on #85
Just found my command line has one digit truncated. That's why the 102M came from :)
Sorry for the ignorance. Closing this issue.

[2017-09-21 16:58] #85 closed

[2017-09-21 20:02] asuhan commented on #81
I'm not sure I understand your question. MapD can run *exclusively* on CPUs if you don't have GPUs and that's what we'd recommend anyway if you don't have enough GPU memory.

[2017-09-22 06:12] bluealert commented on #4
I have removed llvm using `brew remove llvm` and the directory "llvm" is also deleted. but when I run `brew --prefix llvm`, the output is always: `/usr/local/Cellar/llvm/5.0.0`.

Does someone know the reason? How can I change the output of `brew --prefix llvm` ?

[2017-09-22 07:07] jonbaer commented on #4
This seems to happen every LLVM release where they push the previous version down into /usr/local/opt for some reason.  I think what should happen is the mapd-deps-osx.sh script should use `llvm-config --prefix` (vs. `brew --prefix`) - your output for --prefix is stuck at which version is linked.

You can try the following:
`brew unlink llvm`
`brew install llvm`
`brew link --force llvm`

[2017-09-22 14:08] bluealert commented on #4
@jonbaer Thank you.

I run `brew help --prefix`, it's output is as follow:
[code]

[2017-09-22 20:52] averigin commented on #61
I finally got around to testing this today and was still able to reproduce the error. Here's the [`mapd_server.INFO`](https://github.com/mapd/mapd-core/files/1325819/mapd_server.INFO.txt) log.

[2017-09-23 02:41] fleapapa opened #86 "the "rowid" column"
What is actual function of the special column 'rowid'?

The column looks like a positional index of a table as often seen in other databases.

I did a test. With the [table schema and 172M-row data set](https://github.com/mapd/mapd-core/issues/85), the response time of query

and query

are pretty close (took ~1 sec).

I had expected the first query to be much faster, because the rowid 9999999 mig

[2017-09-23 02:45] asuhan commented on #86
Yes, the query using the `rowid` should execute in O(1). Not sure about the behavior you see, the first one should be basically instant. Does the first one take one second the second time you run it?

[2017-09-23 02:51] fleapapa commented on #86
The first query took only 0.04s on 2nd+ time. It took ~1s at the first time. I thought seeking file to a specific position and read few KBs of data should take much less than one second even at the first time.

[2017-09-23 03:08] fleapapa commented on #86
Interesting is, regardless if system file buffer/cache is cleared or not before starting mapd-server, the query always take 1s on the first time. That means file I/O is not the primary contribution to the latency. I guess, on the first time mapd-server needs some time to build up some hash table...

[2017-09-23 03:12] dwayneberry commented on #86
This time is likely the time to build the in memory Dictionaries for TEXT columns.  Do you have a few TEXT ENCODING DICT columns in the schema?

[2017-09-23 03:13] asuhan commented on #86
No, there are no hash table tricks involved. We generate native code and run the query as usual. The only "cheating" is that we tell the generated code to start at the position specified by the `rowid` filter and only process one row. You can check for yourself that, if you add an additional filter which doesn't pass, it works correctly and it's just as fast once the data is in memory.

[2017-09-23 03:17] fleapapa commented on #86
Yes. But the query only involves one column. I thought values of that column should have been encoded when they were inserted.

[2017-09-23 03:20] fleapapa commented on #86
Perhaps i came from old world and still care about scenarios where data is most likely not in memory on the first query :)

[2017-09-23 03:21] asuhan commented on #86
They are. But dictionaries are loaded eagerly (before any query runs) as far as I know. This is one of the choices which doesn't fit low memory scenarios too well. Maybe we'll change it at some point.

[2017-09-23 03:22] dwayneberry commented on #86
The encoding has already occurred on insert.
What is happening currently (we are currently working on mitigating this) is that on the first query to a table all the columns that have dictionary encoding are having the dictionaries structures instantiated in memory

[2017-09-23 03:23] asuhan commented on #86
We can't possibly chase all objectives at the same time. Currently we're focused on steady state behavior for workloads which fit in memory. I'm sure we'll want to improve the warm-up at some point too, but it's of lower priority than steady state.

[2017-09-23 03:27] fleapapa commented on #86
How does mapd trim outdated data currently? If it doesn't, data will keep accumulated, which means at some point users need to start constantly adding memory to maintain the steady state?

[2017-09-23 03:30] dwayneberry commented on #86
A table can be capped with a WITH clause on the CREATE, see `max_rows`

https://www.mapd.com/docs/latest/mapd-core-guide/tables/#create-table

The oldest data will be removed when more data arrives and crosses the max_row threshold

[2017-09-23 03:31] asuhan commented on #86
A cap for the number of rows in the table can be specified at table creation time through the `max_rows` parameter. Least recently inserted rows are removed once that limit is hit.

Yes, if no cap is specified then more resources need to be added. "Keep data forever" is not a valid data retention policy; it requires infinite resources eventually.

[2017-09-23 03:31] fleapapa opened #87 "tombstone"
I searched through source code of mapd-core and found no word like "tombstone".

It may hint that mapd-core doesn't do any data (file) compaction for now. Is compaction in future milestone?

My point for such tombstone is similar to that in [issue 86](https://github.com/mapd/mapd-core/issues/86). If compaction is supported (thus is DELETE), by augmenting mapdql in similar appraoch, adding UPDATE f

[2017-09-23 03:32] asuhan commented on #87
Updates and deletes are definitely on the road-map. And yes, compaction too.

[2017-09-23 03:34] #87 closed

[2017-09-23 03:41] fleapapa commented on #86
Cap on row count is good. For some applications with dynamic data injection rates, cap on TTL seems more  reasonable.

[2017-09-23 03:43] asuhan commented on #86
As long as the data is imported roughly in time order and the cap is not tiny, the results should be very similar. I don't think variable (if that's what you mean by dynamic) data injection rate makes a difference, it's all about the order.

[2017-09-23 04:02] fleapapa commented on #86
AFAIE, oftentimes customers require data to be retained for a month or a year. Data time frame directly affects (dashboard and analytic) application design. For example, a line chart will look odd if few days of old (variable-rate) data is eliminated from a row based cap when the days are within required retaining period.

To them (and me), cap on row counts seem not as intuitive as on TTL. Howeve

[2017-09-23 04:02] #86 closed

[2017-09-23 04:09] asuhan commented on #86
Yes, we could drop data quite easily based on TTL thanks to the metadata we store in the fragments. Not a bad idea to add this policy.

[2017-09-23 14:22] fleapapa commented on #86
@asuhan

Regarding the 1 sec latency, afterward i found 0.6 sec of it might come from warm-up of the parser. Any query, valid or invalid, right after mapd-server starts will amortize the latency. So, loading the dictionaries actually does not take that long as observed previously.

[2017-09-23 20:37] v1nsai opened #88 "typo in common-functions.sh?"
Line 8 of scripts/common-functions.sh references a `download` command and line 9 references an `extract` command, which causes `scripts/mapd-deps-ubuntu.sh` to crash.  I changed them to `wget` and `tar xvf` respectively and got it to work.  Is this a typo?

[2017-09-23 21:42] wesm commented on #56
This was resolved in https://github.com/mapd/mapd-core/commit/046d87691d5378982ee0e5a467fdcdb882e41bfa

[2017-09-23 21:42] #56 closed

[2017-09-23 21:48] wesm opened #89 "Implement RPC endpoint for loading serialized Arrow record batches"
e.g. `load_table_binary_arrow`. This would yield superior data import performance for clients that are able to create Arrow-formatted data in memory (see discussion in https://github.com/mapd/pymapd/pull/50)

I note that the codebase is accumulating a lot of usages of the `ENABLE_ARROW_CONVERTER` compiler definition. Would there be objections to make this a non-optional dependency? It is simple to

[2017-09-23 21:49] #67 closed

[2017-09-23 21:49] #88 closed

[2017-09-23 23:11] asuhan commented on #89
I'm fine with making it mandatory. @andrewseidl, we'll have to make sure that all the internal builds keep working.

[2017-09-24 01:31] fleapapa opened #90 "Exception: Cannot use a fast path for COUNT distinct"
This query generates an error as title.

The query works with other databases. What should i change to it to make it work with MapD?

Schema of trips table:

CREATE TABLE trips (
    medallion               TEXT ENCODING DICT,
    hack_license            TEXT ENCODING DICT,
    vendor_id               TEXT ENCODING DICT,
    rate_code_id            SMALLINT,
    store_and_fwd_flag      TEXT ENCODI

[2017-09-24 05:12] asuhan commented on #90
You can use `select count(distinct cast(trip_distance as integer)) from trips;` or `select approx_count_distinct(floor(trip_distance)) from trips;` if a good (within 4%) approximation is ok. The query would also run with the watchdog disabled, but it'd use a slow, `std::set` based implementation.

In order to make you query run unchanged, we just need to add range information for the `FLOOR` funct

[2017-09-24 06:41] fleapapa commented on #90
Thanks. Because query "select count(distinct **CEIL**(trip_distance)) from trips;" doesn't work for fast path and cast seems not a substitute for CEIL(), CEIL function also need range information. Actually MOD and most other functions need the information, too.

[2017-09-24 06:48] fleapapa commented on #90
BTW, another minor issue is that ROUND() seems not behaving as documented:

It seems treated as ROUND_TO_DIGIT (x, y):

[2017-09-24 06:50] asuhan commented on #90
Not sure what version you're using, we've removed `ROUND` altogether in 6f2730e5a5027b5d37eedbbf65c244e700c76436.

[2017-09-24 06:51] fleapapa commented on #90
The version is MapD Server 3.2.1-20170826-327e7ee

[2017-09-24 06:58] asuhan commented on #90
Ok, that's before we've removed it. Yes, all functions you've mentioned need range information for precise count distinct using bitmap implementation.

[2017-09-24 07:29] fleapapa opened #91 "".60" is accepted by mapd-server but not in CSV file by LOAD"
A minor issue as title. Numeric strings like ".60" were loaded to become NULLs.
In database:

In CSV file:

It seems ".60" is accepted by mapd-server.

[2017-09-24 14:53] dwayneberry commented on #91
CSV requires a leading 0
Should be a fairly straight forward change to correct, if you have an interest in working on the source.

[2017-09-24 15:21] fleapapa commented on #91
I'm interested but embarrassingly so far i haven't gotten mapd built successfully on my Ubuntu 16.04 Having too much stuff to review these days. Will find time to check out the latest code to rebuild it. Hope it won't break again...

[2017-09-24 17:08] fleapapa commented on #91
After replacing line Datum.cpp:60 to the following two,

[code]

the issue seems gone:

Guiltily, having use many open source s/w I've never contributed one source code change to any open source project. What should i do now to merge this change to which mapd-core branch?

[2017-09-24 17:27] dwayneberry commented on #91
Thanks, you will need to complete the contributor process.  See repo readme

Then yes you would create a pull request.  We will review and push when tested

[2017-09-24 18:05] fleapapa commented on #91
I couldn't find the 'bot'. After clicking the 'New pull request' button, all i can click thru are the two compare buttons; others are grayed out.

[2017-09-24 21:29] fleapapa opened #94 "how to repair/remove a corrupted table?"
While i tried to reproduce [issue #82](https://github.com/mapd/mapd-core/issues/82), the table seemed somehow corrupted.

Then i tried to drop the table but that always causes mapd_server to abort, so does SELECT query on the table.

What should i do to repair or remove it entirely from file system?

Here is the back trace:

[code]

[2017-09-24 21:40] fleapapa commented on #94
Never mind. I removed entire data dir and re-ran bin/initdb to create another one.

[2017-09-24 21:54] #94 closed

[2017-09-25 01:00] fleapapa commented on #82
Can reproduce this issue with --cpu-buffer-mem-bytes 107374182 but not with --cpu-buffer-mem-bytes 107374182**4**. Obviously this is due to my carelessly truncated mapd_server command line as described in [issue 85](https://github.com/mapd/mapd-core/issues/85).

Closed this issue.

[2017-09-25 02:24] asuhan commented on #82
We accept slowness under memory pressure, but not crashes. We still need to fix this.

[2017-09-25 03:35] fleapapa opened #95 "LOAD queries starve SELECT queries (and mapdql) when number of total concurrent queries is GTE than number of cpu cores"
For issue [issue #82](https://github.com/mapd/mapd-core/issues/82), i wrote [a script](https://github.com/fleapapa/test/blob/master/trip-mapd-load.py) to simulate multiple concurrent writers doing LOAD queries and multiple concurrent readers doing SELECT queries.

Test dataset are a [small subset of NY taxicab trip data consisting of 12 CSV files](http://www.andresmh.com/nyctaxitrips/).

In the sc

[2017-09-25 04:05] andrewseidl commented on #95
Try `--tthreadpool-size`. On a single GPU machine you can probably set it to 180 or slightly higher.

There is a limit on the size of the Thrift server's thread pool, defaulting to 8 threads. This limit at the Thrift/server-side is not desirable, but it is currently required to prevent some crashes we came across when using CUDA + OpenGL from multiple threads. We have a more appropriate workaround

[2017-09-25 04:23] fleapapa commented on #95
Thanks. It works after enlarging the pool to allow 9 threads.

I am curious of the reason why 7 (=NWRITER+NREADER) threads won't work when the pool allows 8 threads and why only reader threads are starved (not in the middle but from the very beginning).

Any hint will be great.

[2017-09-25 07:49] neko940709 commented on #81
MapD surely can run on CPU and I've tried it successfully, but I wonder HOW it runs under CPU mode. Other answers said MapD uses BATCHED EXECUTION in CPU. Could you please describe this execution process?

[2017-09-25 07:56] neko940709 opened #96 "Does MapD support complicated JOIN operations where more than two tables?"
In version 3.1.2, I've tried JOIN with three tables and the server crashed finally. I just wonder whether the current version has done this work or not?
My sql is like this:

`select MSISDN,stat_date,AREA_ID,USER_ID from md_per_inf_attribute_day z  join (select S00000000023 from EDC_SUB_TEMP_10000049978_ZZ5 a  left join md_vw_per_user02_day b on b.USER_ID=a.S00000000023 and b.IS_HMD_MDR_MG=1) y  o

[2017-09-25 08:04] asuhan commented on #81
The execution process is not, at a high level, different. We generate native code which runs on the CPU cores, in the host address space as opposed to the device address space (for GPU execution). That being said, I'm sure what "batched execution" is.

[2017-09-25 08:10] asuhan commented on #96
For certain cases, like equi-joins on a star schema, yes. In a few weeks we'll have much better support and performance for joins on arbitrary schemas.

What are the table definitions in your example? I'm going to have a look at your query. It doesn't look like join on more than two tables, is this the result of an attempt to rewrite your desired query? I see there are multiple tables involved, bu

[2017-09-25 15:10] fleapapa commented on #82
With latest code 3.3.1dev-20170925-b876cd7, i can't reproduce the "double free" error as seen with 32 and with truncated  --cpu-buffer-mem-bytes option or with reasonable buffer size (eg. 1GB)

However, with the unreasonable --cpu-buffer-mem-bytes size  (ie, 1GB truncated to 100MB), different core dump occurred, as attached below.

Common is that core dump always occurs after the message "Query co

[2017-09-25 18:36] fleapapa opened #97 "Any document about MapD data file structure?"
As title.

If there are also documents that illustrate in-memory data buffers and distributed (clustered) data file, it will be even wonderful.

[2017-09-26 02:46] fleapapa commented on #82
Okay. Just realized that --cpu-buffer-mem-bytes configures cpu buffer pool which needs not be as large as dataset.

So tried small but more reasonable --cpu-buffer-mem-bytes values. So far experienced only one core dump with a value of 1GB.

Core dump summary follows:

$ time /data/github/mapd-core/bin/mapd_server --data /mnt/trip/mapd/data --cpu-buffer-mem-bytes **1073741824**
E0925 18:32:58.9405

[2017-09-26 03:06] fleapapa commented on #82
Reset cpu buffer bytes to 107M in order to reproduce core dump more quickly.

On stack frame #7 of back trace below, there was an error "<error: Cannot access memory at address 0x7f2ea4239f90>) ". It seemed readForThread() gave an invalid buffer address. readForThread() may be a victim, too.

[code]

[2017-09-26 04:14] asuhan commented on #91
It's fixed by https://github.com/mapd/mapd-core/commit/7f72560680dd3de8c1973073f1a0cd1b5d19e494. We should add an unit test for it as well.

[2017-09-26 04:14] #91 closed

[2017-09-26 04:58] fleapapa commented on #82
More often is the following type of core dump which resulted from incomplete file read.
[code]

Inspection of corresponding threadDS struct passed to readForThread() thread shows no sign of invalid address in this case. The destination memory block into which File_Namespace::read() would read data from file seems well within the memory that had been reserved for fileBuffer. So no idea yet why the

[2017-09-26 19:56] #89 closed

[2017-09-27 03:06] fleapapa commented on #82
When mapd_server was launched in gdb, crash pattern seems further diverse. For example, i got the following core dump of mapd_server in gdb which i haven't seen before when running mapd_server on shell command line. It seems mapd_sever is **timing sensitive** in some degree. When running in gdb, the sensitivity is highlighted by the runtime overhead that gdb adds to the debugged process.

Note: I

[2017-09-27 06:19] fleapapa commented on #82
Another type of core dump so far occurred only when default thread stack size was enlarged from by default 8M to 10MB by "ulimit -s" before launching mapd_server on shell command line. It is intriguing because it is the writer thread that crashed this time. Here is the back trace:

Kind of lost from these diverse core dump patterns. However, there seems a common sign that somewhere in heap was cor

[2017-09-27 14:13] tmostak commented on #82
Hi @fleapapa, I think I may know what's going on. Let us investigate and we'll update this thread.

[2017-09-27 16:05] fleapapa commented on #82
Thanks. One thing maybe worth to re-mention is, if i remember it correctly, most (if not all) core dumps occurred after running out of cpu buffers like this:

BTW, i have a dummy question: Why can't cpu 'buffers' operate like OS file buffers to fulfill queries of any size? The latter needs not be as large as a big file to read the file.

[2017-09-28 14:38] dwayneberry opened #98 "Incorrect import on negative numbers with no whole units"
Issue Details.

neg.csv
[code]
my test

[code]

The issue is with any negative value with no whole unit .

[2017-09-28 16:02] andrewseidl commented on #98
Looks like the problem is in `parse_numeric`: https://github.com/mapd/mapd-core/blob/444e89579a82f23609596308c070ba7522af8cd9/Shared/Datum.cpp#L54-L69

Specifically there's no explicit handling for negatives, so if `before_dot` happens to be `-0`, then `std::stoll("-0")` returns `0`

[2017-09-28 16:02] jeromeheng opened #99 "how to use insert dataset into mapd with spark/storm by jdbc"
when i use jdbc connection ， i want to  insert the data into mapd with spark or storm  ，and how to  ？

[2017-09-28 18:47] dwayneberry commented on #99
please see this [link](https://community.mapd.com/t/how-to-connect-apache-spark/503/2l)

[2017-09-28 18:48] dwayneberry commented on #99
please see this {link](https://community.mapd.com/t/how-to-connect-apache-spark/503/2)

[2017-09-28 23:46] #98 closed

[2017-09-29 17:12] fleapapa commented on #95
Here is more information about this issue, especially about "ALL readers are starved".

Steps to reproduce the issue:

1. On one window start mapd server with command "bin/mapd_server --tthreadpool-size 4". (Small size 4 is to simplify the test.)
2. On another window run [the test script](https://github.com/fleapapa/test/blob/master/trip-mapd-load.py) with command "python trip-mapd-load.py -w 1 -r

[2017-09-29 17:52] mccarthyryanc opened #101 "QT Error when building thrift dependency"
Building for Ubuntu 16.04, I got the same error mentioned [here](https://issues.apache.org/jira/browse/THRIFT-1828?jql=text%20~%20%22moc__TQTcpServer%22):

[code]

 Looks like there was a conflict between different versions of QT. I was able to get a work around by adding `--with-qt5=no` to the thrift build step in `mapd-deps-ubuntu.sh`:

[code]

[2017-09-30 06:34] fleapapa commented on #95
Attached a [tcpdump capture](https://expirebox.com/download/1e820a2875b7069354517b2241ff62b1.html) of the test in previous cell. It can be seen from the file that calcite client sent two requests ('process' and 'get tables') but got no Thrift response from calcite server other than TCP ACK.

Attached [another tcpdump capture](https://expirebox.com/download/dee2f7aad44e98dbd081e448fb65e7a5.html) wh

[2017-09-30 09:49] dwayneberry commented on #95
The issue here is that the calcite server requires access to the mapd-core server to get the db metadata.

If all the connections to the server are exhausted then the calcite server is going to sit and wait for a connection to become available.

The calcite server only makes a connection to the mapd-core server when it is first lazy loading the metadata for the tables the query is being executed o

[2017-09-30 09:49] #95 closed

[2017-09-30 13:45] fleapapa commented on #95
@dwayneberry

When both mapd_server and my script got stuck, i tried mapdql with http port 9092. It didn't hang but dumped core like below.

[code]

Yes i'm still curious what minimum change to mapd_server or calcite server can make the script run to end. Though it is a corner case, it seems not an unusual "unit test" case.

[2017-09-30 13:58] fleapapa commented on #95
@dwayneberry,

Quoted:
[code]

I tentatively interleaved the forking of (2) reader threads with a long delay (eg. 5 minute) to leave at least one connection available for Calcite server to retrieve metadata.

Result is, before the second reader was forked, the first reader thread still got stuck. Wondering if Calcite server needs more than one connection....

[2017-09-30 14:23] fleapapa commented on #95
Corrected. After interleaving the forking of threads with a delay, both reader threads got SELECT result :)

[2017-09-30 15:07] fleapapa commented on #95
@dwayneberry,

One thing i'm still confused (stubborn:) is, in previously attached 1.cap file, after Calcite server received SELECT requests (msg 1 and 3), it could send "get_tables" requests back to mapd_server (msg 11 and 12), which means Calcite had no problem on connecting back to mapd_server. If that is the case, the issue seems kicked back to mapd_server and the question now becomes "why did

[2017-09-30 15:43] fleapapa commented on #95
@dwayneberry
Sorry. I finally got it. Crux of the issue is not the number of "connections" but of "threads". Please disregard the last question.

[2017-10-02 14:36] fleapapa commented on #82
Add [another test script](https://github.com/fleapapa/test/blob/master/trip-mapd-insert.py) to use INSERT instead of LOAD. With this script, each reader aggregates a different column so as to quickly saturate cpu buffers.

[2017-10-03 20:04] fleapapa commented on #82
Not sure if the following issue may be classified as a race condition but through further diagnosis, the member function **Buffer::reserve()** seems to be the culprit and should be modified like below; otherwise, when a chunk is too large to fit any cpu buffer slab, though the first call of **FileMgr::fetchBuffer()** will trigger a a "**SlabTooBig**" exception, later calls of FileMgr::fetchBuffer(

[2017-10-03 21:30] fleapapa commented on #82
Alternatively, simply reordering the three statements and changing 2nd argument of the reserveBuffer() call like below will work, too :)

[code]

[2017-10-04 03:57] dwayneberry commented on #82
@fleapapa Thanks for the detailed investigation work, much appreciated.  Feel free to create a PR so we can get these corrections in to the code.

The point of us setting some boundary around memory usage is to make sure we leave something on the table for other processes and the kernel itself.  We try to tightly respect these limitations hence we do not want to spill temporarily into all of memor

[2017-10-04 04:55] fleapapa commented on #82
@dwayneberry No problem. I will create a PR after finishing tests on more cpu buffer sizes (eg., 256M, 512M, 1GB, 2GB, up to current soft-limit, 4GB). The new code can survive 107MB now, because any query requiring column scan of >107MB is always terminated by a "SlabTooBig" exception without further file read to corrupt heap memory. I guess, 256/512M cases should do the same quickly with the same

[2017-10-04 07:34] fleapapa commented on #82
@dwayneberry.

Regarding
`The point of us setting some boundary around memory usage is to make sure we leave something on the table for other processes and the kernel itself. We try to tightly respect these limitations hence we do not want to spill temporarily into all of memory in these circumstances.
`

i think the impact of limiting cpu buffer size is query performance when a few of many concur

[2017-10-04 15:54] #97 closed

[2017-10-04 22:03] bploetz opened #103 "MapD core dumps when using "in" clause against an empty set"
I have this query:

[code]

Which was causing MapD to core dump like so:

[code]

After some digging, it looks like this is because the inner query actually returns no results:

[code]

This is on MapD enterprise edition (mapd-ee-3.2.3-20170922-fbc71bb-Linux-x86_64-render). Not sure if the same thing happens in community edition or not.

[2017-10-04 22:26] bploetz commented on #71
Just to +1 this, the inclusion of the dependencies in `mapdjdbc-1.0-SNAPSHOT-jar-with-dependencies.jar` causes real problems when pulled into a project where there are version conflicts with the dependencies that are included in that jar. We have to basically pull that jar apart, and reconstruct it such that the dependency graph all works out correctly. This is obviously a solved problem with Mave

[2017-10-04 22:58] asuhan commented on #103
Thanks, good finding. I'm going to fix it.

[2017-10-05 18:53] asuhan commented on #103
https://github.com/mapd/mapd-core/commit/8e91349f0d27e38bd2468ce17620073a67ab2d3e should fix it.

[2017-10-06 04:24] fleapapa commented on #82
The last issue can be reproduced even when cpu buffer size is set to the maximum, 4GB, as hard-coded in DataMgr.cpp. With 0.5 billion rows already in the test table and 8/8 writers/readers continued to accessing the table concurrently, in short time the buffers were saturated, then a query like "select count() from trips" took >1 minute to finish (normally took <<1s), with the following INFO log:

[2017-10-06 04:32] asuhan commented on #82
A segmentation fault doesn't sound "by design". We should fail in a controlled manner (by throwing an exception) if we decide to fail.

[2017-10-06 04:41] fleapapa commented on #82
@asuhan
"The last issue" does not cause segmentation fault; it just causes mapd-core to be busy more on page evictions than on query fulfillment. For example, when cpu buffer is not saturated, a "select count() from trips" on 0.5B rows takes <<1s; when it is, it takes ~1 minute, mostly on I/O.

BTW, the segmentation fault has been fixed by [this request](https://github.com/mapd/mapd-core/pull/102)

[2017-10-06 04:42] asuhan commented on #82
Oh ok, got it now. Still, we shouldn't close the issue until the patch is reviewed and merged. @dwayneberry can you have a look at https://github.com/mapd/mapd-core/pull/102?

[2017-10-07 04:26] fleapapa opened #104 "A query took >20 minutes to finish."
The table ('trips') in my test has 0.5B rows. Somehow MapD takes >20 minutes to finish the following query:

[code]

With the same number of rows on the same machine, another database finished it in 4 minutes, so it shouldn't take >4 minutes to read the two related columns (pickup_datetime and medallion) of the 0.5B rows from disk into cpu memory.

Please share any idea about how i can improve the

[2017-10-07 04:31] dwayneberry commented on #104
Please include the full log from each of the runs so we can help diagnose your issue.

[2017-10-07 04:34] fleapapa commented on #104
@dwayneberry Here you go.

[code]

[2017-10-07 04:40] dwayneberry commented on #104
It is taking over 1227 seconds to read the metadata of your single table

[code]

Please bring your branch up to date and rerun the queries and we will get more info as there have been changes in that area to generate more detailed information, but it appears you have done a very large number of potentially small inserts into the table which will cause a lot of checkpoints to be written which need

[2017-10-07 04:45] fleapapa commented on #104
I just also found that any query immediately after mapd core starts took that long time too :)

Yeah. The table was not loaded by LOAD but by (many many) batches of INSERT which tried to simulate data injection in normal IoT applications. I was not aware that caused a lot of checkpoints to be written.

[2017-10-07 07:18] fleapapa commented on #104
@dwayneberry

New code is 5 mins faster.

[code]
Here is the INFO log:
[code]

[2017-10-08 04:31] fleapapa commented on #104
Bought 8GB RAM today. That significantly improves performance of the query after mapd cold starts.

[code]

Interestingly, with extra 8GB RAM, the other database (CH) uses 150 secs to complete the same query on cold start, but it still uses 150s on 2nd+ queries. In contrast, MapD uses <1s on 2nd+ queries 👍  I guess, MapD's **TEXT ENCODING DICT** data type plays a critical role here. CH has no simi

[2017-10-09 14:50] Smyatkin-Maxim commented on #29
May I take this one?

[2017-10-09 16:17] fleapapa commented on #104
Hi @dwayneberry. Found a way to speed up "cold start" of  BIG tables.

From profiling, bottleneck is the **for**-loop of **FileInfo::openExistingFile**. Key factor seems more on the number of pages of a table than on the number of checkpoints.

The idea behind is simple -- gather 'headers' of all pages in a file and relocate them to front of the file to form a 'super page'. This way, it take only

[2017-10-09 18:15] asuhan commented on #29
Yes, that’d be great. Let me know if you need help.

[2017-10-09 21:31] billmaimone opened #105 "Add ability for COPY to read directly from gzip input files"
Instead of requiring zip'd files to be decompressed before loading to COPY streamline the data loading process by reading directly from a gzip'd file.  This would be more convenient, not take up intermediate storage for the expanded files.  Possibly there's opportunity/benefit to doing this in parallel.  Other notes:
- Taking the Boost route would also make it trivial to add bzip2 support: http://

[2017-10-09 21:37] tmostak commented on #105
Contributions from the community are welcome on this task!

[2017-10-09 21:58] billmaimone opened #106 "add wildcard filters for mapdql commands that may return a long list"
mapdql commands such as \t \v \u may return quite a long list.  These would be more convenient with an optional regex match pattern to filter the result.

[2017-10-09 23:46] fleapapa commented on #104
Before this experimental file format, i also tried parallelizing the for-loop. It didn't improve at all. More threads (multiplied by the thread count initiated by FileMgr::init) competing for disk i/o made the situation even worse; system load constantly shoot to 30+ without throughput gain.

Due to no backward compatibility (unless code tuned to accept dual formats) and any side effect yet to kno

[2017-10-09 23:51] billmaimone commented on #29
yes, this is good.

[2017-10-10 00:08] fleapapa commented on #104
Forgot to rerun the query that needs a smaller column. Quoted:
[code]

For that query, with new file format, after cold start (all file cache was cleared) the time used are very close now (26s vs 22s):

[code]

[2017-10-10 00:14] billmaimone commented on #104
FYI, Michael's off today for Canadian holiday.

[2017-10-10 00:59] fleapapa commented on #105
pigz seems supporting parallel decompression:

`Decompression can't be parallelized, at least not without specially prepared deflate streams for that purpose. `

Neither does pigz2, unless...

[code]

[2017-10-10 07:37] fleapapa commented on #105
If parallelized decompression is required, a patch below may be an option. In my test, it seems working with .gz and .bz2 files. I tried to reuse as much existing code (of Importer::importDelimited) as possible.

[code]

[2017-10-10 15:42] fleapapa commented on #105
About parallelizing decompression, a gap between decompression and row insertion is worth a look.

It takes ~10 seconds to decompress a .gz file with 10M lines:

[code]

But it takes ~60 seconds for mapd-core to insert the 10M rows:
[code]

Does it mean that, when decompression is parallelized, for each cpu core assigned to gzip decompressor, mapd-core needs 5 cpu cores to smooth out the pipeline?

[2017-10-10 18:33] fleapapa commented on #105
[Update] The path below is much simpler (w/o booststreamio and intel tbb) but should allow parallelized decompression if the source file is prepared with parallelism in mind.

COPY time of 10M rows is not better from parallelism because bottleneck on my VM is the slow HDD.

[code]

Patch:

[code]

[2017-10-10 23:35] dwayneberry commented on #105
@fleapapa thanks for your effort here.

The patch seemed incomplete, and did not compile.  I added code for the headers and created this patch

[0001-Use-pigz-or-pbzip2-as-options-on-the-copy.patch.gz](https://github.com/mapd/mapd-core/files/1373721/0001-Use-pigz-or-pbzip2-as-options-on-the-copy.patch.gz)

It seems that if you do not have `pigz` of `pbzip2` installed it just quietly fails and repo

[2017-10-10 23:46] fleapapa commented on #105
@dwayneberry I'll add the exception process. Originally i thought pigz or pbzip2 should be added to the script/mapd-deps-xxx.sh to assure its existence. However, the script seems for development environment only. The two utilities may not exist on deployed hosts. So i'm thinking if i need to also include the code in the previous patch which doesn't depend on pigz/pbzip2, or will there be a deploym

[2017-10-10 23:49] billmaimone commented on #105
It's a bit painful to read from diffs.  How about a branch?

[2017-10-10 23:52] asuhan commented on #105
Aren't these tools also available as libraries? At least for parallel bzip2 I've found http://lbzip2.org/. I think the integration would be a lot better if we didn't have to spawn processes.

[2017-10-10 23:53] dwayneberry commented on #105
If we could use libs rather than applications ehat would be nicer as the dependecies can be resolve at build time and shipped with the code

But if we have to use applications we can add the requirements to yum and apt etc but at the end of day in case it slips through the cracks we still need a meaningful error message.  Are these applications available on OS X, best if we put out a meaningful er

[2017-10-10 23:57] asuhan commented on #105
Also, if there are no library versions of the parallel compression tools, let's use https://github.com/facebook/folly/blob/master/folly/Subprocess.h. We depend on Folly anyway.

[2017-10-11 00:00] dwayneberry commented on #105
These tools in general only run parallel on compression not decompression if my memory serves me correctly so we don't need the fancier parallel implementations when really we are only decompressing

[2017-10-11 00:01] fleapapa commented on #105
I was not aware of lbzip2 library. Will need to look into it to see how to integrate it to existing code.
Overall, using utility commands is not preferred, is it?

[2017-10-11 00:02] asuhan commented on #105
It's definitely cleaner to link to a library as opposed to spawning a process, but if it's not possible we have `folly::Subprocess` to assist. Anyway, `lbzip2` doesn't look like a library either.

[2017-10-11 00:02] dwayneberry commented on #105
If we can avoid running command line processes it would be a win for simplicity in the long run

[2017-10-11 00:22] fleapapa commented on #105
If lbzip2 is not a library, which of lbzip2 and pbzip2 to choose?

Forking a process to run the utility seems a goal that can be easily achieved in short term.
Having folly::subprocess to run the utility is the next phase.

Does it make sense?

Frankly I have no idea yet how much efforts to integrate them in library forms.

[2017-10-11 00:39] fleapapa commented on #105
@billmaimone
`It's a bit painful to read from diffs. How about a branch?`

A branch is better, but i'm in the middle of an attempt to optimize Importer::importDelimited(). The function seems not fully parallelized because all the threads created therein need to join before moving on to read next block (of IMPORT_FILE_BUFFER_SIZE bytes).

After the optimization i will need to clean up my branch, in

[2017-10-11 00:41] asuhan commented on #105
Looks like @dwayneberry is correct and neither can parallelize decompression. The man page of `pbzip2` says: `Files that were compressed using bzip2 will not see speedup since bzip2 packages the data into a single chunk that cannot be split between processors.`. We're better off with coarse parallelization (one worker per file) using the regular versions.

The additional effort of using them as li

[2017-10-11 00:50] dwayneberry commented on #105
Just ran a quick test of a 25G tweetmap file 60m records (compressed gz file is 11G).

uncompresses 647 secs
compressed     660 secs

Basically the single thread decompress is far from the bottleneck here

[2017-10-11 03:56] fleapapa commented on #105
@dwayneberry, I guess your test was done on HDD. On my HDD i got similar thruput (10m rows @ 60 secs). But I guess, on SSD and NVMe the effect of parallelized decompression should be more obvious, because the storage will be less a bottleneck.

After optimizing threading model of Importer::importDelimited(), unfortunately i got only **10 seconds** faster on COPY the same .bz2 file (4.bz2) of 10m r

[2017-10-11 06:56] fleapapa commented on #105
Just found that a .bz2 file compressed by pbzip2 can't be decompressed by boostiostream.

[code]

Also, for the same .bz2 file, boostiostream is no worse than pbzip2.

[code]

[2017-10-11 07:01] asuhan commented on #105
Yes, the man page is pretty clear in that regard:

[code]

Since no one is going to use pbzip2 to compress, there's little practical point in using it on decompression side. We should stick to the single-threaded versions.

[2017-10-11 11:03] tmostak commented on #104
Hi @fleapapa, would you mind making a PR for this so we can try it out more easily?

[2017-10-11 13:44] fleapapa commented on #105
If i understand/remember it correctly, pbzip2/pigz can decompress files regardless if the files were created by pbzip2/pigz or not. So i think it's good to first try pbzip2/pigz just in case the files were created with parallelism; then fall back to single-threaded Boostiostream decompression. If users have pbzip2/pigz-encoded files, they must install pbzip2/pigz.

[2017-10-11 13:56] fleapapa commented on #104
Hi @tmostak, no problem on the PR, but to not have different code changes mixed in one PR, i will need to stash the changes for this issue and make a PR for issue #105 first.

By the way,  due to #105, the data files currently in my database were created all through COPY statements, so there are not many checkpoints for double checking this issue. Once done with #105, i will re-load the database u

[2017-10-11 16:50] fleapapa commented on #105
I created a PR for this issue. Besides pbzip2/pigz and fallback to boost::iostreams, i changed the function **Importer::importDelimited** significantly, trying to parallelizing 2nd half of data path a little further.

The new code tries to keep _max_threads_ threads **at all time**. If i understand old code correctly, in every cycle it read a 10M, cut it to _max_threads_ slices, dispatch the slice

[2017-10-11 16:53] tmostak commented on #105
Hi @fleapapa on a related note can we also handled zipped files? And will this handle multiple files zipped/tarred?

[2017-10-11 17:31] fleapapa commented on #105
@tmostak, as i just tested, pigz can uncompress .zip files. I'll add '.zip' file extension to the code to make it work. For tarred/zipped file, i'm not sure if extending the command pipe in popen() will work. I'll investigate it, as well as with Boost::iostream, and update here later.

[2017-10-11 17:39] Smyatkin-Maxim commented on #29
@asuhan
Tried to understand it today. Either I'm missing some easy way to do it, or it's a bit more work than just updating code in the three places, because there are no other aggregates working with multiple arguments.
The changes in calcite are straightforward. The changes in C++ not that much. If I understand it correctly, I should find a way to parse json generated by calcite in parse_aggrega

[2017-10-11 18:28] asuhan commented on #29
Yes, you have to start from `parse_aggregate_expr` and relax the operands requirements a little bit to account for the fact that we have two parameters now. You should only allow for an additional literal parameter for `APPROX_COUNT_DISTINCT` and store it in `RexAgg` and `AggExpr`. `RelAlgTranslator::translateAggregateRex` is the only place which really instantiates `AggExpr`, the other occurrence

[2017-10-11 20:14] Smyatkin-Maxim commented on #29
Ok, thanks

[2017-10-11 20:41] fleapapa commented on #105
I added support of .tar, .tgz and .zip. Not sure if i can create another PR before you guys approve the previous PR on path [a67de9a](https://github.com/fleapapa/mapd-core/commit/a67de9abbdfdcd7770384d6209f213f9f6b1acf6)

Note: Boost:iostream can't work with tar/tgz/zip. It will no more crash mapd core but fail with an error message.

[2017-10-12 01:42] miiklay opened #108 "Multi-table join error: "Check failed: it != plan_state_->global_to_local_col_ids_.end()""
Customer is getting:
`F1010 22:22:06.439077 51520 Execute.cpp:2513] Check failed: it != plan_state_->global_to_local_col_ids_.end()`

From this query:
`select cons.cons_no, obj.coll_obj_id, obj.meter_id, fdmeter.asset_no, cons.contract_cap, case when cmeter.t_factor is Null then 1 when cmeter.t_factor = 0 then 1 else cmeter.t_factor end t_factor, case when floor(fdmeter.meter_digits) in (4,5,6) th

[2017-10-12 06:23] fleapapa commented on #104
Finally had 0.5B rows be INSERT-ed to the table. Number of checkpoints created is 507, similar to the number that @dwayneberry saw last time. This time, immediately after cold start and file cache was cleared, mapd core took 13s to load the table schema and took 5m47s to finish the same query.

[code]

It seems @dwayneberry is correct and i am wrong. Huh,,, the number of checkpoints is the major f

[2017-10-12 06:46] asuhan commented on #108
I'll have a look this week, I think we'll have it working very soon.

[2017-10-12 13:51] Smyatkin-Maxim commented on #29
As far as I understand, by design I should not (and can not currently) access the literal at `parse_aggregate_expr`, because it's not part of an aggregate expression - it's part of input arguments. I should resolve it only in `RelAlgTranslator::translateAggregateRex` from `scalar_sources`. But for some reason optimizer decides that I don't need this literal and removes it in `eliminate_dead_column

[2017-10-12 14:19] Smyatkin-Maxim commented on #29
Or maybe this little hack is better than updating optimizer for the corner case of aggregate with two arguments. @asuhan , which way would you advice?

[2017-10-12 14:42] fleapapa commented on #105
Hi @asuhan, i searched mapd-core code base but found no example of using **folly::Subprocess** except in folly dir itself where i couldn't find relevant example. For my use case I needs to **fetch the stdout** file descriptor right after construction of a Subprocess object that executes a command like "pigz -d foo", and create a FILE* from the descriptor so that i can reuse existing code path dire

[2017-10-12 17:52] fleapapa commented on #104
While i'm re-injecting 512M rows in old file format, from number of created files and table row count it is observed that average one checkpoint is created for every 1M rows.
[code]

If a larger number of checkpoints (INSERT vs COPY) is the root cause of slowness, does it make sense to reduce checkpoint rate if it won't have any negative impact? For most online systems using INSERT to inject data

[2017-10-12 18:24] asuhan commented on #29
@Smyatkin-Maxim I don't understand your comment about `parse_aggregate_expr`. It returns a full aggregate expression which carries all the information: the type of the aggregate and the arguments. For `APPROX_COUNT_DISTINCT`, the first argument is handled just like we do for all aggregates, you can leave it alone. The second argument becomes an additional integer / float (depends on your choice) f

[2017-10-12 18:27] asuhan commented on #105
If `folly::Subprocess` is not adequate then don't use it. Nevertheless, if you need to spawn processes, you need something similar to it you can build yourself. The constructor can create the named pipe and spawn the process and the destructor can wait for the process and unlink the pipe.

I still think that we should use libraries here, not separate processes. There's not enough value in parallel

[2017-10-12 18:50] Smyatkin-Maxim commented on #29
Ok, perhaps optimizer works as it should - it's not something that can be learned in two days :)
I understand what `parse_aggregate_expr` does. I mean that Calcite doesn't make this literal part of aggregate expression, so `parse_aggregate_expr` can't see it.
For example, if we consider this query:
[code]
it sees only this part of input JSON string:

[code]

While I need to access this part:
[code

[2017-10-12 19:03] asuhan commented on #29
Ok, I now see the problem.The dead column elimination doesn't look at the second argument because it cannot -- `RexAgg::getOperand()` doesn't take a position argument and only returns the first argument. Fortunately, we only call it from two places in the optimizer, so you can break the signature and then fix the call sites in `get_live_ins` and `renumber_rex_aggs`. Both are straightforward: the f

[2017-10-12 19:16] Smyatkin-Maxim commented on #29
@asuhan Ok, just to make sure that I got you right:
- I don't change `parse_aggregate_expr` signature, just add the second operand support.
- I **do** change signature of `RexAgg::getOperand()`
- I **do** change optimizer a little bit in places you've just named to manage multiple arguments.

[2017-10-12 19:18] asuhan commented on #29
Yup, I think this is the best course of action -- should work smoothly, if it doesn't we'll have a closer look.

[2017-10-12 19:19] fleapapa commented on #105
@asuhan, regarding "separate process acrobatics", i think popen() may have obvious impact on embedded systems w/o MMU but it seems unlikely users will run mapd on those systems.

Also, unlikely users will run COPY every few seconds or minutes, so any fork() overhead from popen() should be amortized quickly.

After double checking issue #104, I will run a test to verify my perception that one COPY

[2017-10-12 19:24] asuhan commented on #105
I'm not worried at all about some nebulous overhead -- of course it's not that big of a deal to spawn a process in the current year. It's purely a software engineering / integration concern; it's better to not have to manage separate processes if we can. If we cannot avoid it, we should do it with some form of RAII.

[2017-10-12 20:54] fleapapa commented on #105
Here is a status summary per each file format:

- .gz/.bz2: using pigz/pbzip2 command first (can change to gzip/bzip2). Fallback to Boost:iostream library.
- .zip: using pigz command (will change to unzip). No library fallback.
- .tgz/.tar: using tar. No library fallback.

Please share any library for the latter two.

BTW, please elaborate "RAII". (= C++ RAII???)

[2017-10-12 21:18] asuhan commented on #105
Yes, RAII means C++ RAII. Have you looked into [libarchive](https://www.libarchive.org/)? It supports a lot of formats and the license is friendly.

[2017-10-12 21:24] fleapapa commented on #105
No, but I'm interested with its "Universal Decompressor" now. Hope it can make a minimalist happy.

[2017-10-13 01:48] fleapapa commented on #104
After INSERT of 512M rows in **old** file format, i cleared file cache and cold started mapd_server to do the same query. INFO log is attached below. Here is the result, with comparison to alternative file format.

Metadata load time: 208s (vs. 13s)
Fragmenter initialization: 219s (vs. 309s)
Time in Calcite server: 221s (vs. 310s)
Total time: 327s (vs. 347s)

Overall, existing file format delivers

[2017-10-13 02:09] dwayneberry commented on #104
@fleapapa The total time is gathered via a stop watch in the outer layer of the query it is not a sum.  It counts total wall clock.

I suspect you are trying to optimize something were we have assumed the bottom layer is SSD so fseek is cheap and you are using HDD trying to do bulk reads.  Ultimately the data needs to get read.

There is no doubt there are gains to be had here but the low hanging

[2017-10-13 02:53] fleapapa commented on #104
Ultimately the data needs to get read, but i'm very curious why reading a **contiguous** layout of the same data set needs 200 seconds more than reading a **disjoint** one. I will try to figure it out later.

[2017-10-13 03:11] dwayneberry commented on #104
@fleapapa I would have to review what changes you have made in more detail, (when there is a PR).  If you are saying you have moved all the metadata into contiguous single reads then yes that does sound like a bit of mystery.

[2017-10-13 16:34] billmaimone opened #109 "allow INSERT statement with a query"
Add support for INSERT INTO table  ( col..) SELECT ...
Care must be taken to ensure that datatypes from the query match up with the insert table.
Current workaround for this is COPY TO/FROM, but avoiding intermediate the transfer and file write would be faster and more convenient.

[2017-10-13 16:47] Smyatkin-Maxim commented on #45
What's the current status on this one? I see it has been three months since last update, may I take it after I'm done with #29? This one looks quite easy.

[2017-10-14 01:38] fleapapa commented on #105
@asuhan. I updated the PR with a solution based on libarchive (and its entire source code), but later i realized that i could just apt install libarchive-dev to use its binary library. Which is the preferred way?

[2017-10-14 01:40] dwayneberry commented on #105
@fleapapa for something like this we would probably try to look at using binary library and static linking

Would it be possible to submit a PR based of the master branch rather than your various intermediate branches as the deltas are all over the place

[2017-10-14 01:54] dwayneberry commented on #105
@fleapapa if you look in your PR you will see there 4 commits with the final commit overriding the earlier commits, and the first commit already applied to the code.  I don't think you need to change your local checkout you just need to clean up your commits with some rebasing and squashing to make it easier for others to review what the final changes actually are.

[2017-10-14 02:03] fleapapa commented on #105
@dwayneberry. I've been confused why the first commit is still dangling there, because i have rebased my local branch with mapd's master as last time you suggested me to sync up with mapd's changes. Let me integrate binary libarchive first, then see how to get rid of the dangling commit and squash those commits into one...

[2017-10-14 18:05] fleapapa opened #111 "SIGSEGV on FileMgr::openExistingFile when FileMgr::init"
Seen the first time.  A racing condition on the std::multimap **fileIndex_**?

Backtrace:
[code]

[2017-10-14 18:13] dwayneberry commented on #111
@fleapapa is this reproducible?  How are you generating the conditions to see this error

[2017-10-14 18:17] fleapapa commented on #111
@dwayneberry I ran into it in gdb when i cold started mapd_server and issued the first query on a table (with ~250M rows). This is the first time i saw this issue. After it, i did the same twice but couldn't see it again.

[2017-10-14 18:19] dwayneberry commented on #111
@fleapapa I see the potential issue, will push a fix

[2017-10-14 18:44] dwayneberry commented on #111
@fleapapa should now not be an issue

closed with e143f317b65b6493970b22c3e77007b9ece7bb99

[2017-10-14 18:44] #111 closed

[2017-10-15 11:47] Smyatkin-Maxim commented on #29
I've created a pull request for review. I'd like you to have a closer look into these things:
- Did I pick the correct formula for bitmap size calculation from relative error? I'm not 100% sure about it.
- I see there is `FunctionRef::analyze` which also creates an `AggExpr` object. But it doesn't consider `kAPPROXIMATE_COUNT_DISTINCT` aggregates at all. So, I didn't update it for approx_count. As

[2017-10-15 21:34] fleapapa commented on #104
@dwayneberry. The mystery seemed from too small buffer size of FILE stream (8KB by default).

With larger FILE buffers (256KB), cold start query performance with the alternative file format is significantly improved to 2m8s (from previous 5m47s), as shown in INFO log below:
[code]

I also applied the same larger FILE buffer size to existing file format. Its cold start performance was improved to 4

[2017-10-16 00:01] dwayneberry commented on #104
@fleapapa Without the PR it is hard to speculate but this probably makes sense as I believe you are now reading large contiguous blocks.  The current format is only reading smaller page headers so maybe does not benefit as much.

[2017-10-16 00:33] asuhan commented on #29
Thanks, I'll have a look tomorrow. Yes, `FunctionRef::analyze` is effectively dead code we should delete, don't worry about it.

[2017-10-16 01:37] fleapapa commented on #104
@dwayneberry. I tried to create a PR for this. Because prior PR (for COPY compressed files) uses existing file format and is still outstanding, this commit of the tentative file format will mess up the prior PR. What should i do now? Creating a separate branch for this separate PR? Please advise.

[2017-10-16 01:41] dwayneberry commented on #104
@fleapapa yes for the different issue you should have a different branch and PR

[2017-10-16 07:26] fleapapa commented on #104
@dwayneberry. Sorry, please ignore the PR i created few hours ago. I found it was incomplete so i closed it. Still struggling to create a PR without including others' commits these days...

[2017-10-16 19:57] fleapapa commented on #104
@dwayneberry,

If i understand it correctly, reading page headers occurs before reading data/metadata pages. When reading headers, no fseek makes the difference, but when reading data/metadata pages, the same FILE buffer size should treat the two file formats equally, because data/metadata blocks are stored on almost the same file locations and have the same sizes (2MB and 4KB) for both formats.

[2017-10-16 21:32] #45 closed

[2017-10-17 22:28] asuhan commented on #108
Fixed by d4b060ae2eed5dafa1cce80020f645b379b7b625, we'll have it in the upcoming release.

[2017-10-17 22:28] #108 closed

[2017-10-18 00:37] mythilimapd opened #118 "Update GetServerInfo to include # of GPUs, GPU memory and CPU memory"
Logging this request for Todd

We want some static information on the # of GPUs,  CPU memory and GPU memory as part of the GetServerInfo()

[2017-10-18 01:01] dwayneberry commented on #118
All this information is available via get_memory call.  I assume this is a one time request from immerse so making a call to that api should be quick and low overhead

[2017-10-18 03:56] fleapapa commented on #109
Related with this issue, i'm curious how mapd_server handles a SELECT that returns data of a size larger than system memory. On my VM with 14GB free memory, query "SELECT * from trips" failed due to OOM. Also failed is another query "copy (select * from trips) to '/mnt/tmp/trips.csv'", with similar INFO logs as below shows. The table _trips_ has 512M rows, using approximately 47GB disk space.

Is

[2017-10-18 15:11] DennisDawson opened #119 "Include \o mapdql command in the \h listing"
The `\o <table_name>` command does not currently appear in the `\h` listing from mapdql. (If there are other useful switches missing from the `\h` output, please include those, as well.)

[2017-10-18 16:48] billmaimone commented on #109
Yes, that's the deal.  Currently the working set for the query needs to fit in GPU (or CPU) memory.  There's room for several straightforward optimizations for large projection queries that would improve the efficiency to allow much larger results.  Maybe this is a project for you one of these days, though I'd have in mind several other things ahead of this.

[2017-10-18 17:34] fleapapa commented on #109
@billmaimone Would you mind giving a hint on one or two of the several straightforward optimizations in your mind? I feel it not simply an optimization, because current code acts more like a scatter-gather and lump-sum model while to enable it to stream larger datasets some parts of the code need to collaborate like synchronized pipelines or like coroutines.

[2017-10-18 20:06] sumarlidason opened #120 "kernel trap divide error"
related to https://github.com/mapd/mapd-core/issues/94, probably a corrupt table; but looking for prevention. This didn't happen until i started creating[1] and dropping tables[2] quickly as part of a workflow. I will continue to try to troubleshoot the issue on my end.

[code]
[code]
[1] `create table x as ()`
[2] `drop table x`

[2017-10-18 22:34] fleapapa opened #121 "Exception: connect() fails after a query that needs more than available memory failed for several times"
[UPDATE]
To reproduce: Submit a query on a table that needs more than available memory (so it will fail). The table spans 509 files.

Symptom: After the query fails, further query will return "Exception: connect() failed: Connection refused".

At this time, /proc/`pidof mapd_server`/status shows FDSize max out like below:

$ ps ax|grep mapd_server
19452 pts/9    S+     0:20 gdb bin/mapd_server
250

[2017-10-19 02:14] fleapapa commented on #121
As further investigated, 1024 fds were allocated but only 538 fds were in use, so the root cause is not out of file descriptors, though the reason of connection failure is on proto::connect().

Trying to reproduce it...

[2017-10-19 06:07] fleapapa commented on #121
It turns out to be a "defunct" Calcite server that caused further queries to get "Exception: connect() failed: Connection refused" error after two or three failed queries that need too much memory.

[code]
Wondering if Calcite was gone also from OOM.

[2017-10-19 06:09] dwayneberry commented on #121
Possibly the Linux out of memory killer may be the culprit, on a tight memory system like yours, take a look in the system logs.

[2017-10-19 06:21] fleapapa commented on #121
@dwayneberry, thanks. There is no sign of OOM in syslog in last few hours. Besides, my VM has 8GB swap space; it showed no sign of being used. Unlikely Calcite would use as much as mapd_server during that period.

[2017-10-19 06:26] fleapapa commented on #121
BTW, in my thought, the scenario of running a query of 47GB table on my 14GB VM should be analogous to that of running a query of 4TB table on a system with 1TB memory.

[2017-10-19 16:55] fleapapa commented on #121
@dwayneberry. While i tracing the execution of a big query, after the first batch of (ExecutionDispatch) threads were joined, i saw something suspicious in cpu buffer list, so i added this code in function BufferMgr::findFreeBuffer (line #333):

[code]

For example, the buffer "2050783/585938:used, 0, 1,1,1,1," showed up 3 times.

Is this duplication ok?

[code]

[2017-10-19 19:48] sumarlidason commented on #120
problem stems from incorrect usage of `group by` in conjunction with `distinct`, e.g. `SELECT distinct(o) FROM the_table  group by o;`

in console this statement has no result -- no error / no rows. I believe when creating a table with this subquery the corruption occurs.

[2017-10-19 19:49] asuhan commented on #120
Interesting, I wasn't aware this was valid SQL. I'll have a look this week, should be very easy to fix.

[2017-10-19 20:32] sumarlidason commented on #120
I think this logic is tripping me up because if you add a `having` statement, you gotta have the `group by`. w/ or w/o works in postgres

[2017-10-19 23:37] fleapapa commented on #121
@dwayneberry. Sorry. The duplication is a false alarm. i insert the logging statement at wrong place, resulting in the duplication.

[2017-10-20 00:16] #29 closed

[2017-10-20 03:39] #103 closed

[2017-10-20 03:54] asuhan commented on #109
Support for this type of workload can be added without fundamental changes to the way we execute queries. We already have the ability to consume the input tables fragment-by-fragment; to minimize memory usage, we'd have to unpin the chunks in a fragment once it's been handled. Also, the output for each fragment can be written to disk right away instead of keeping it in memory. Ultimately it's a ma

[2017-10-20 04:00] fleapapa commented on #109
@asuhan. Agreed. Originally i thought the largest memory consumer is intermediate result, so i thought co-routine may help. Afterward i found the largest memory consumer is the file chunk buffers. So i've been probing usage of chunk buffers...

[2017-10-20 04:02] asuhan commented on #109
You can't breakpoint into `RuntimeFunctions.bc` because that code is not directly linked into the server executable. Instead, the LLVM IR from it is inserted inline in the generated code. Also, the functions you've mentioned are actually replaced by real versions which are different between CPU and GPU when the query is compiled to native code.

[2017-10-20 04:05] asuhan commented on #109
@fleapapa The intermediate memory for very big projection queries (of the select all rows and columns from the table kind) can be an issue as well. The good news is it can be optimized dramatically, to the point that a full co-routine model would be overkill on all but the most severely memory constrained systems. According to my back-of-the-envelope math, we could probably work with ~1 GB of memo

[2017-10-20 04:14] fleapapa commented on #109
Quoted:
`We already have the ability to consume the input tables fragment-by-fragment; to minimize memory usage, we'd have to unpin the chunks in a fragment once it's been handled. `

As traced, the problem with this scheme is that for each fragment there're usually several threads (eg. 7 threads on my VM), each of which is responsible for loading a few columns. Since they run in parallel, an alwa

[2017-10-20 04:18] asuhan commented on #109
Yes, we'd have to throttle the execution (a memory quota per thread), which ultimately means that our optimization on the query execution side is less useful for this type of workloads. This is the reason we didn't really focus on them -- we have less of a comparative advantage for low-memory scenarios vs the ones we've already focused on.

[2017-10-20 04:22] fleapapa commented on #109
I guess for this kind of work load users usually look for _entirety_ of query result than query performance.

For example, when i backup/copy my BIG tables, i am more concerned about whether all my data is written to destination storage than about how long it will take.

[2017-10-20 04:27] asuhan commented on #109
Yes, backup is a potential application for it. At the same time, backup can (and probably should) be implemented as a separate feature, it doesn't need to be in the roundabout way of running a `SELECT *` query. At the same time, there's definitely room to better accommodate certain non-analytic queries for well-defined purposes.

[2017-10-20 04:33] fleapapa commented on #109
I might have missing another application -- ETL :)

ETL jobs usually query/aggregate multiple BIG tables to generate a BIG datasets for offline analytics and model training.

[2017-10-20 19:44] fleapapa commented on #109
@asuhan,

`Yes, we'd have to throttle the execution (a memory quota per thread), `

Per your hint, i took an easier path. Instead of throttling memory usage per thread, i sequentially ran the threads. This time, all fragments were fetched, but then execution halted at GroupByAndAggregate.cpp:138. To proceed it needs a big "group by" buffer of 60 GB (the table uses 47 GB disk space). I could go get

[2017-10-20 19:47] asuhan commented on #109
That's where the dramatical reduction of memory usage for projection output comes into play. For big projection queries, a bitmap layout would be orders of magnitude smaller, you wouldn't need anything close to 60GB. More like 600MB.

[2017-10-20 20:17] fleapapa commented on #109
Is the "dramatical reduction" in the code? A quick pointer or hint will be appreciated.

[2017-10-20 20:25] asuhan commented on #109
No, it's not yet, but we know how to build it and I think we also have an internal task for it. It's not particularly difficult, but it touches all the executor parts (some code generation, the result set etc).

[2017-10-21 05:29] fleapapa commented on #109
@asuhan. I have a long question of Executor::executePlanWithoutGroupBy().

My query is "COPY (SELECT * FROM trips) TO 'trips.csv'". The table trips has ~0.5B rows. From gdb, after the first fragment (75000000 rows x 14 columns) was read into memory, the first call of executePlanWithoutGroupBy() came out with a result set which has only one value:

[code]

I thought the result set would be a 75M x

[2017-10-21 05:34] asuhan commented on #109
I doubt that method should be even hit by the query. Are you certain that the source is not newer / older than the executable? Also, what's in the output `trips.csv` file, does the operation work?

[2017-10-21 05:39] fleapapa commented on #109
No, the operation doesn't work yet. The file trips.csv isn't even created, because after 7th call of the method (because the table has 7 fragments), the code always ends up with a failure to allocate 60GB memory.

The method was indeed hit, as shown below.

[code]

[2017-10-21 05:41] fleapapa commented on #109
The executable should be in sync with the source code, because each time i rebuilt the executable gdb notified me of symbol reload.

[2017-10-21 05:43] asuhan commented on #109
Ok, now I understand what's going on. As you can see in the stack trace, that first `ResultSet` comes from a `RelAlgExecutor::getFilteredCountAll` call (and it looks correct). For projection queries on big tables, we first run a `COUNT(*)` query (with all the filters applied, if any) to find out how big the result should be. So there's nothing concerning / incorrect here.

[2017-10-21 05:47] fleapapa commented on #109
Why doesn't it simply run SELECT * directly?  Otherwise (especially with tight memory) when it does it needs to reload the fragment from disk.

[2017-10-21 05:49] fleapapa commented on #109
Or, is it complicated (for me) to bypass getFilteredCountAll?

[2017-10-21 05:51] asuhan commented on #109
1. No, we don't need to load data from disk except for the columns which are used for the filter (none in this case), for the rest we only need the meta data.
2. Having to start with a uneducated guess and keep reallocating is very expensive compared to running a cheap `COUNT(*)` query.
3. No, it's not complicated at all, but for the reasons above you don't want to.

[2017-10-21 05:54] fleapapa commented on #109
I don't understand 1. My VM has only 14GB free memory. The table needs at least 48GB space, so each fragment needs at least 6GB. That means after 3rd call of the method, the first fragment would have been evicted.

[2017-10-21 05:55] asuhan commented on #109
On what grounds do you think that a `SELECT COUNT(*) FROM trips` needs to load anything but some metadata in the memory? Is there evidence for it?

[2017-10-21 06:02] fleapapa commented on #109
From the pages loaded and timestamps, you can see the server worked hard to read 48GB data into memory (by many evictions). That's why i think it needs to reload the fragments if the code does not directly perform my query on the first chance.

[code]

[2017-10-21 06:05] asuhan commented on #109
Did the 48GB of reading happened *before* `RelAlgExecutor::getFilteredCountAll`? Because we definitely do a lot of reading for the actual `SELECT *` query.

[2017-10-21 06:09] asuhan commented on #109
To sum up:

1. The amount of memory required by `RelAlgExecutor::getFilteredCountAll` is negligible -- in your case, it only needs to load the metadata for the fragments.
2. It doesn't hurt to know how many rows will the original query yield. The fact that we think we need 60GB for a mere 75M rows is what needs to be fixed. The `RelAlgExecutor::getFilteredCountAll` correctly and cheaply tells us t

[2017-10-21 06:10] fleapapa commented on #109
For each call of the, it does, because in Executor::ExecutionDispatch::runImpl the call to fetchChunks the fragment is before the call to executePlanWithoutGroupBy.

One thing i'm sure is that it took quite some time before each entry to executePlanWithoutGroupBy but comes out with only a single integer value (=75k).

[2017-10-21 06:14] asuhan commented on #109
I don't think continuing this conversation is productive. Just because both parts of the query (the estimation and the actual, original query) call into the `fetchChunks` method doesn't mean that both times is equally expensive. Maybe there's a bug somewhere and we actually fetch columns (as opposed to metadata) for the initial `RelAlgExecutor::getFilteredCountAll` call, in which case I want to kn

[2017-10-21 06:16] fleapapa commented on #109
Let me probe into more details.

[2017-10-21 06:26] fleapapa commented on #109
@asuhan. As you suggested:

`Yes, backup is a potential application for it. OTOH, backup can (and probably should) be implemented as a separate feature, it doesn't need to be in the roundabout way of running a SELECT * query.`

A direct path to get big SELECT result to the CSV file with tight memory and without inventing new wheels is what i am pursuing. Honestly i'm not sure yet at all whether th

[2017-10-21 06:34] asuhan commented on #109
We want to dramatically reduce the output memory for projection queries which return a lot of results -- it's useful in many other contexts. For query like yours on wide tables, we can achieve 100x through entirely reasonable means -- maybe a week of work. Going further into the low-memory territory, we need to unpin fragments and throttle the execution, as we've already discussed. Also reasonable

[2017-10-21 07:08] fleapapa commented on #109
Dramatical memory reduction plus high parallelism is definitely the best solution for all use cases. Throttled execution is only an expedient, which seems to me reasonable only when there is no better solution and only when parallelized writes can't speed up the output a CSV file much (in my guess it's mostly an I/O bound task).

[2017-10-21 07:18] asuhan commented on #109
Suppose we have the following query: `SELECT * FROM table WHERE filter(a, b, c ... z) > 0`. If there's not enough memory to hold enough chunks of `a`, `b` ... `z` in order to saturate the CPU cores, throttling is the only way and it'll entail loss of parallelism. Cutting down the size of the output buffer might or might not be enough -- throttling can still be needed if we genuinely want a system

[2017-10-23 01:04] fleapapa commented on #109
@asuhan. You're right but to sooth my curiosity i added a tentative callback in ExecutionOptions to smuggle query results on a fragment by fragment basis. With low memory i can have only one thread at a time; otherwise three buffer slabs (4GB each) would be quickly filled up.

That's not enough. I also need to free all chunk buffers, clear **ExecutionDispatch::all_fragment_results_** and free all

[2017-10-23 04:40] RedAlice64 commented on #121
Can you post the system you are using? I am trying to reproduce the situation. With CentOS, 7.5GB memory and a 55 GB CSV file the system simply freezes and the CPU Usage fall back after a while without  the client responding to IO.

[2017-10-23 04:47] fleapapa commented on #109
[UPDATE]: The sticky memory turns out to be held by some StringDictionaryProxy. Finding how to manually release that memory before the active row_set_mem_owner_ is destructed...

[2017-10-23 04:51] asuhan commented on #109
Both the fragments and string dictionary memory are sticky for good reasons. The rows need to be iterated, so they need access to that memory. To minimize the amount of used memory, we'd have to store metadata instead of actual chunks and "revive" them one by one, from disk, as we iterate. Is your thesis that we somehow leak memory or keep it around past its usefulness in the context of the curren

[2017-10-23 04:55] fleapapa commented on #121
Sorry. The version of 'system' i was using when i saw this issue has been heavily changed. Will get back to reproduce this issue later. However, running mapd_server in gdb, i frequently ran into the issue after one or more "heavy" failed or cancelled queries. When that happened, mapd_server was still alive but calcite server had gone.

[2017-10-23 05:03] fleapapa commented on #109
@asuhan. No. I know the dictionary needs to be sticky for some purposes like you mentioned. However, to minimize memory use to make room for next fragment, my (smuggling/streaming) experiment needs the dictionary to be closed after current result set is materialized.

[2017-10-24 05:45] fleapapa commented on #105
Today i downloaded NY taxi trip dataset to my new macbook. It's in in a .7z file. I had to extract all the files because 7z is not supported in [PR](https://github.com/mapd/mapd-core/pull/117) .

7z seems popular for archiving big datasets. libarchive supports 7z. Should i add 7z support and recreate the PR?

[2017-10-24 16:51] fleapapa commented on #105
Another alternative is to enable ALL decoders of libarchive. That will increase code size by ~800KB but it will automatically detect file format and fall back to uncompressed format on unknown or uncompressed format. It also saves future revision overhead.

[2017-10-25 16:50] bploetz commented on #104
Here is the behavior I'm seeing regarding MapD cold starts. For reference, I'm running a single MapD instance (mapd-ee-3.2.4-20171006-6a29a52-Linux-x86_64-render) on a p2.16xlarge (16 GPUs, 64 CPUs, 732 RAM) with a 500GB provisioned IOPS io1 SSD EBS volume attached where the MapD data files are stored. Note that I'm running MapD in a Docker container on ECS. Our database has a single table with 50

[2017-10-25 18:37] dwayneberry commented on #104
Hi,

From your final comment I assume you understand that the cost you are seeing on scenario 3 is the overhead of downloading the data from s3 to the local disk so I am not going to worry too much about the timing there, as I assume you recognize it is not something in our control.

The two other cases are both the same I would suspect (as you noted) basically with and without OS file system cach

[2017-10-25 18:55] bploetz commented on #104
@dwayneberry yup, completely understand regarding scenario 3. I just wanted to be thorough with all possible scenarios in case that helps others.

As for dictionaries, you're right, the big one (dictionary 5) will NOT be grouped by, and thus doesn't need to be dictionary encoded at all! It looks like our DDL omitted the encoding for this column, and thus we got the default DICT encoding. Thanks fo

[2017-10-25 19:10] bploetz commented on #104
@dwayneberry is there a way to tell how much memory a specific dictionary is taking up? i.e. when we delete this offender, obviously disk space usage will decrease significantly, but wondering if it means we can fit more data from the database into memory as a result as well.

Thanks.

[2017-10-25 20:51] dwayneberry commented on #104
Hi

The disk space will remain approximately the same.  The text columns still need to be stored on disk they just wont be encoded to Dictionary.

The CPU in-memory footprint (assuming the row is being referenced in a sql query) overall will go down by the dictionary overhead which is in the order of rows x 4 bytes

regards

[2017-10-25 20:53] bploetz commented on #104
@dwayneberry ah ok. thanks.

[2017-10-26 16:51] dwayneberry opened #124 "addBatch INSERT not using the column order if specified in the INSERT statement"
see

https://community.mapd.com/t/mapd-java-jdbc-preparedstatement-bug/693/2

When we fix this we should also convert the api call over to use `load_table_binary_columnar`

[2017-11-07 06:03] dwayneberry opened #125 "Improve error message for mmap failure"
When we fail to `mmap` successfully we need to print errno to help diagnose the issue

currently we just print
[code]

[2017-11-07 06:16] andrewseidl opened #126 "Improve error message for unsupported GPU"
Currently log a confusing message when an unsupported GPU (CC < 3.0) or unsupported mix of GPUs is found. Would be useful to display more friendly error messages in these circumstances.

See: https://community.mapd.com/t/tsocket-open-connect-host-localhost-port-9091-connection-refused/721/10

[2017-11-15 03:19] neko940709 opened #127 "Why SLAB size is 2GB?"
I have ran a query on MapD with large tables over 20GB each, and got exception of "not enough GPU memory", but the query was not complex and my GPU card has about 11GB global memory which is enough for the query. Then I found on the open-source code that the size of a SLAB was 2GB in default, which proposed the exception. After I changing the size the query can run successfully. So why MapD set th

[2017-11-19 08:08] dwayneberry commented on #74
This issue is to do with Java scripts handling  everything as a double. 64bit ints get truncated to the 52/53bit mantissa.  This is an immerse client issue.  Will close this backend issue.

[2017-11-19 08:08] #74 closed

[2017-11-19 08:10] dwayneberry commented on #99
Closing this as no activity and question answered, with no follow on.

[2017-11-19 08:10] #99 closed

[2017-11-19 08:25] dwayneberry commented on #75
What is confusing here is that the behaviour going into MapD is different than coming back.

When receiving a `DECIMAL` field it comes back as a `REAL`

When sending in a `DECIMAL` field it is sent as a `LONG` with the number modified based on the scale.  So if a `DECIMAL(10,2)` is declare what load_table_binary_columnar would expect is a `LONG`  If the number 23.56 was being loaded we would expec

[2017-11-19 08:25] #75 closed

[2017-11-19 08:30] dwayneberry commented on #70
closing this as issue i believe is understood and working as expected

[2017-11-19 08:30] #70 closed

[2017-11-19 08:32] dwayneberry commented on #121
closing as not reproducible

[2017-11-19 08:32] #121 closed

[2017-11-19 08:33] dwayneberry commented on #66
Closing as no further info available

[2017-11-19 08:33] #66 closed

[2017-11-21 22:54] micahstubbs opened #128 "define `Calcite` in README"
the [README](https://github.com/mapd/mapd-core/blob/master/README.md) refers to `Calcite`, but doesn't explicitly define what `Calcite` is.

It would be nice to add a definition of `Calcite` in the context of **mapd-core** to the README.

[2017-11-22 00:05] #128 closed

[2017-11-22 00:05] micahstubbs commented on #128
looks like this one is obsolete

[2017-11-22 21:34] isolenta opened #130 "output_columnar option hint and columnar representation of results"
I'm trying to enable output_columnar_hint in ExecutionOptions and run query picked from one of ExecuteTest's cases:

I got assertion:

For most other test queries I tried there was still rowwise data layout in ResultSet storage buffers and only small subset of queries enables columnar approach (canOutputColumnar() is true). By the way complex queries with few execution steps have expensive data co

[2017-11-23 20:04] dwayneberry opened #131 "Simple Join causing server crash"
Problem raised in community forum here https://community.mapd.com/t/two-tables-associated-with-the-query-bug/808

test case:

[code]

Server crash
[code]

the offset to the dictionary entry for table b appears to be off by 1

[2017-11-24 04:38] awagh1 commented on #131
I guess string_id is index of n result rows from 0 to n-1. In this case result number of rows (str_count) is 1 , so accordingly string id should be 0. Please correct me if I am wrong.

[2017-11-24 05:43] dwayneberry commented on #131
`string_id` here is actually a reference to the dictionary `key` being returned for the selected row, to allow it to be converted back to the actual `TEXT` it represents.   `str_count` is the number of strings in the entire dictionary.

[2017-11-25 15:15] #131 closed

[2017-11-25 18:48] dwayneberry commented on #105
closed with https://github.com/mapd/mapd-core/commit/572252db72a2a9bc6f9ea780e8267f18ce135a78

[2017-11-25 18:48] #105 closed

[2017-11-25 18:50] dwayneberry commented on #96
Please retry your query with 3.3.1 and share your ddl and some data

[2017-12-01 20:19] alexei-grigoriev opened #135 "segmentation fault executing copygeo"
Getting a segfault when providing less then two arguments

Same issue when I provide only one argument.
uname -a
Linux alexgg-laptop 4.10.0-40-generic #44~16.04.1-Ubuntu SMP Thu Nov 9 15:37:44 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

$MAPD_PATH/bin/mapdql -v
MapDQL Version: 3.3.1-20171108-32e7bcc

from syslog:
Dec  1 23:11:13 alexgg-laptop mapd_server[2716]: E1201 23:11:13.780602  8966 MapDHandler

[2017-12-04 07:44] Masutani commented on #58
Do you have any kind of spatial indexing like R-tree or KD-tree  in MapD ?

[2017-12-04 18:53] VrajPandya commented on #58
Currently we don't have many indexing data-structures specially not R-tree or KD-trees. If you feel you can contribute to the project we would love to support your efforts.

[2017-12-04 23:35] pramsey opened #136 "FLOOR() is an aggregate function?"
Running this query:
[code]
I get this response
[code]
Which seems odd to me, as I expected FLOOR() to be an ordinary math function, not an aggregate.
[code]

[2017-12-05 00:49] dwayneberry commented on #136
Your sql is re-aliases the column name `pickup_merc_x` and as we allow alias on `group by` so it translates into something broken like

[code]
Don't re-alias to the same as the real column name you want to do the `floor` on, and you should be good.

That is a very specific data set, may I ask where you got it from?

[2017-12-05 01:35] pramsey commented on #136
Thanks! The data set came packaged w/ the rpm I installed following your install directions.

[2017-12-05 01:35] #136 closed

[2017-12-05 01:39] dwayneberry commented on #136
Oh this is aws instance?

[2017-12-05 02:55] pramsey commented on #136
Yes.

On Mon, Dec 4, 2017 at 5:39 PM, Michael Thomson <notifications@github.com>
wrote:

[2017-12-07 16:06] wesm opened #137 "Updates for Apache Arrow 0.8.0"
Since we're releasing 0.8.0 soon, I will prepare a patch to fix up a handful of APIs that have changed or have been deprecated between 0.7.x and 0.8.x

[2017-12-13 18:39] #118 closed

[2017-12-13 18:39] billmaimone commented on #118
https://github.com/mapd/mapd-core/commit/08156f45fe247419184a6d1cfb765ea542b96878

[2017-12-15 15:59] psockali commented on #73
Hi, is it OK if I try to close this issue?

[2017-12-15 17:14] billmaimone commented on #73
Sure, go ahead and assign yourself.

[2017-12-15 18:17] #106 closed

[2017-12-15 18:20] billmaimone opened #138 "add search filters to various mapdql commands"
mapdql commands such as \t \v \u may return quite a long list. These would be more convenient with an optional regex match pattern to filter the result.

[2017-12-15 20:06] psockali commented on #73
I have  been going through the comments in #72
According to @asuhan the `ROUND` function shall be implemented in a similar fashion to `FLOOR` in that it does retain the `typeinfo` of the first operand. Will this be a reasonable path to a solution?

[2017-12-15 22:05] billmaimone commented on #73
Yes, noting also commonly-adopted semantics of the optional second argument.

[2017-12-17 19:57] psockali commented on #2
Hi, can I tackle this one?

[2017-12-17 20:01] psockali commented on #73
managed to get the round function working.
Was wondering about following use-case:

[code]

Is this a valid use case?
Such a query is currently possible.

[2017-12-18 00:56] billmaimone commented on #73
Useful bonus points to accept an integer column also for the second column, but uncommon in practical usage.  For the implementation did you consider using an existing library function for the implementation?

[2017-12-18 01:06] billmaimone commented on #2
Yes, good one for you.

[2017-12-18 01:23] asuhan commented on #2
@psockali You can use `ScalarExprVisitor` to build a constant-collecting visitor. There's a pitfall though: we don't know all constants upfront when sub-queries are involved. Have a look at `RelAlgTranslator::translateInOper`. We can use a hybrid approach: collect and generate all the other constants upfront and leave the current handling in place (and keep LICM). Alternatively, we can reorganize

[2017-12-18 07:56] psockali commented on #73
Yes, I looked at the cmath functions, but none of them allowed me to round a value according to the requirements. I will keep an open eye on this as I am pretty sure this has most likely already been done.

[2017-12-18 11:54] psockali commented on #73
been thinking about the  column as 2nd parameter use case.
If this is practically never used, I would prefer to disable it.
The rational is: how should it behave if one of the entries in the column is NULL ?
Before going into length to address this allowing only constants / literals seems rather straight forward.

[2017-12-18 12:32] psockali commented on #2
Hi @asuhan , I will do so.
Am I  correct in assuming that only runtime constants (within the scope of a block) shall be hoisted, but literals can remain as they are?

[2017-12-18 23:49] billmaimone opened #140 "Add LLVM 5.0, 6.0 support"
Ideally this would be #ifdef'd to also work with prior releases 3.9 and 4.0, enabling extended field testing with 5.0.

[2017-12-19 08:17] psockali commented on #73
Tried it out after looking a bit at #2 . It actually already behaves correctly in that for NULL 2nd operands a NULL is returned. And exactly this behaviour is required, because of both integer columns as well as sub-queries.

[2017-12-19 17:26] psockali commented on #2
Hey @asuhan

I think I need to be much more clearer when addressing things in mapd. (e.g. literal in LLVM IR, literal in REX, literal in Analyzer::Exp, etc...).

Finally managed to look at this in more detail and it turns out that `Analyzer::Constant` literals are hoisted in `Executor::codegenHoistedConstants` into a memory buffer. And each _unoptimized_ access to the literal requires a memory rea

[2017-12-20 04:27] ptumati commented on #138
I'll claim this one if there's no one else on this.  Is using the <regex> header and associated constructs (with an ECMAScript grammar) for the regexes acceptable?

[2017-12-20 05:50] shtilman commented on #138
Sure, it's yours.
We use boost quite extensively, take a look at boost::regex.
The header file to include: <boost/regex.hpp>

[2017-12-20 06:56] VrajPandya opened #141 "Enhance Dictionary bulk load for sorted cache"
In method [getOrAddBulk](https://github.com/mapd/mapd-core/blob/617b6425ab5c3e95a316e9d359cddee286be91cf/StringDictionary/StringDictionary.cpp#L242)  We can initially sort the incoming string data and create a temporary vector and merge it with existing sorted cache. This will reduce memmove operations in getOrAdd method for sorted cache.

[2017-12-20 17:32] dwayneberry commented on #141
@VrajPandya if you do any work over this area ideally please work on top of my exisiting
branch

[2017-12-21 04:04] shtilman commented on #2
Hi @psockali, your approach sounds reasonable. Add a constant scanning visitor, generate corresponding literal loads in the first block of the query func and feed these values to the always_inlined `@row_func`. Not sure if any Constant extensions are necessary but let's see if your motivation can be justified. No need to make this behavior configurable - we're just putting some literal loads where

[2017-12-21 18:26] ptumati commented on #135
Confirmed.

This one is a faulty strtok() going off the end when there are no added parameters.  I can take care of this one also, unless there are any objections.

[2017-12-21 21:25] psockali commented on #2
Hey @shtilman, as usual:  theory does not reflect reality.

It turns out that during LLVM IR generation `Analyzer::Constant` nodes are created on the fly and sometimes the original `Constant` node is translated.
See  `Executor::codegenRowId`, `Executor::codegenCmpDecimalConst` and `Executor::codegenOuterJoinNullPlaceholder`.

This invalidates the proposed approach, because scanning the source `Ana

[2017-12-21 22:51] psockali commented on #2
Hey @shtilman,

@asuhan mentioned two approaches:

- Hybrid:
  Currently this is the approach I am going for.
- Full Pass without IR generation:
  I am not confident enough at this stage to make such a central change to the compiler as I am not sure what state(s) the compiler currently maintains and how I would reset it correctly.

I think there is an alternative way, but it would require to clone

[2017-12-25 01:30] ptumati commented on #135
I corrected this issue in the Issue135Fix branch ptumati/mapd-core (see: f42e5ea7fca12d3f0e509a6bb00483b535ddb4b5 ).

The unsafe strtok() behavior is replicated in other places, however.  For example, with \ste, if a parameter is not specified, random garbage in memory is used to construct a string which is then processed and fed into a thrift request.

A more general solution with adequate testin

[2017-12-25 07:11] ptumati opened #144 "Enhancement proposal: Make input parsing more robust and make commands easier to add for developers (mapdql)"
I'm offering up some sample code here in a branch for a cursory review, but here's the back story:

I avoided making a pull request on issue #135 because I noticed the strtok() crash problem actually affected different commands (some more seriously than others).  I started tinkering with the input processing loop and realized that there's a repetitive use of strncmp and manual strtok extraction of

[2017-12-28 11:00] psockali commented on #2
Hi @shtilman / @asuhan
I committed an initial version of the hybrid solution. the PR is #145 .
Please let me know if this approach is OK for now as I fear that it does not capture all the cases.

[2018-01-03 11:23] rvlander opened #148 "startmapd does not seem to be able use mapd.conf"
A config option is passed to startmapd script in the Dockerfile
[code]
But startmapd script does not handle this option.

What is the way to configure MapD when using Docker?

Thanks.

[2018-01-03 12:14] andrewseidl commented on #148
The config file will be used if it's available at `/mapd-storage/mapd.conf` inside the container.

For example, if I start the container using:

[code]

then I'd want to place the config file at `/home/username/mapd-storage/mapd.conf` on the host.

Note: `startmapd` currently overrides a few config options such as `port` and `data`, so those settings in the config file will be ignored.

[2018-01-03 13:49] rvlander commented on #148
The issue is that `startmapd` script does not use the `--config` option that is passed in the Dockerfile.

OK. It is clearer why the port did not change when changing the `mapd.conf` file.

[2018-01-05 00:54] micahstubbs opened #150 "auto-complete `SELECT` keyword | get_completion_hints"
- [ ] auto-complete `SELECT` keyword

  **test case** `"sel col from tablename" 3`
  **complete call** `./MapD-remote -h bewdy.mapd.com:39091 get_completion_hints "session_id"  "sel col from tablename" 3`
  **response** `[]`
  **expected response** `[TCompletionHint(type=7, hints=['SELECT'], replaced='sel')]`

[2018-01-05 00:54] micahstubbs opened #151 "provide hints for substrings that are at the end of the queryString | get_completion_hints"
- [ ] provide hints for substrings that are at the end of the queryString

  **test case** `"select * fr" -1`
  **complete call** `./MapD-remote -h bewdy.mapd.com:39091 get_completion_hints "session_id"  "select * fr" -1`
  **response** `[]`
  **expected response** `[TCompletionHint(type=7, hints=['FROM'], replaced='fr')]`

[2018-01-05 00:55] micahstubbs opened #152 "provide hints for table names | get_completion_hints"
- [ ] provide hints for table names.  in this example, I have a table named `iris` that I would like to complete from the substring `ir` at cursorPosition `18`

  **test case** `"select col from ir limit 10" 18`
  **complete call** `./MapD-remote -h bewdy.mapd.com:39091 get_completion_hints "session_id"  ""select col from ir limit 10" 18`
   **response** `[]`
  **expected response** `[TCompletionH

[2018-01-06 02:46] #138 closed

[2018-01-06 05:16] mainstreet439 opened #153 "JDBC driver prepareStatement method is incorrect"
Several methods throw an exception (per below)  except the following

  public PreparedStatement prepareStatement(String sql)
    throws SQLException
  {
    return new MapDPreparedStatement(sql, this.session, this.client);
  }

If an application subsequently calls getMetadata on the returned object it fails. This can cause an application to fail unless it is coded to avoid using the Prepare metho

[2018-01-06 05:17] mainstreet439 opened #154 "Statement crashes server connection org.apache.thrift.transport.TTransportException"
see description at
https://community.mapd.com/t/statement-crashes-server-connection-org-apache-thrift-transport-ttransportexception/899

[2018-01-06 05:18] mainstreet439 opened #155 "Query failed : Exception: No more data to read"
per original description at https://community.mapd.com/t/query-failed-exception-no-more-data-to-read/901

While MAPD doesn’t claim to support lateral derived tables, this statement does not result in a parser error stating that fact. Instead you get Exception: No more data to read.

select tjoin1.rnum, tjoin1.c1, tjoin2.c1 as c1j2, tjoin2.c2 from tjoin1, lateral ( select tjoin2.c1, tjoin2.c2 from

[2018-01-06 05:19] mainstreet439 opened #156 "Query failed : Exception: expressions in ELSE clause must be of the same or compatible types"
per original description at https://community.mapd.com/t/query-failed-exception-expressions-in-else-clause-must-be-of-the-same-or-compatible-types/903

While MAPD doesn’t claim to support overlaps, this results in an expected error, suggesting re-written query failing.
select 1 from tdt where ( date ‘1999-12-01’ , tdt.cdt ) overlaps ( date ‘2001-01-01’ , date ‘2001-11-01’ ) and rnum=0

Error: Quer

[2018-01-06 05:20] mainstreet439 opened #157 "Query failed : Exception: Cast from BOOLEAN to BOOLEAN not supported"
per original description at https://community.mapd.com/t/query-failed-exception-cast-from-boolean-to-boolean-not-supported/900

While MAPD doesn’t claim to support distinct predicate, this results in an expected error, suggesting re-written query failing.

select rnum, tsint.csint from tsint where tsint.csint is distinct from 1
Error: Query failed : Exception: Cast from BOOLEAN to BOOLEAN not supp

[2018-01-06 06:43] asuhan commented on #152
https://github.com/mapd/mapd-core/pull/142/commits/9b23f258ae984eec07e9ad2752a046c7aca47ea8 fixes this.

[2018-01-06 07:24] asuhan commented on #150
Fixed by c9eb1331f6e97fd454af6c8f0e8784aeffc8c687.

[2018-01-06 07:24] asuhan commented on #151
Fixed by c9eb1331f6e97fd454af6c8f0e8784aeffc8c687.

[2018-01-06 13:14] mainstreet439 opened #158 "JDBC driver DatabseMetadata.getColumns always returns 100 as precision"
As originally noted at https://community.mapd.com/t/jdbc-driver-databsemetadata-getcolumns-always-returns-100-as-precision/902

create table TSET1 (RNUM integer not null , C1 integer, C2 varchar(3));

DatabaseMetadata.getColumns will return 100 for the precision (column size).

In the example above would expect the declared precision.

[2018-01-06 13:16] mainstreet439 opened #159 "JDBC driver various issues with DatabaseMetadata and ResultsetMetadata interfaces"
As originally noted at https://community.mapd.com/t/jdbc-driver-various-issues-with-databasemetadata-and-resultsetmetadata-interfaces/891

There are various methods in the MAPD driver which are throwing exceptions re items not being supported. In various cases, why not just implement a method which does nothing and document the fact vs throwing exceptions. This saves an application having to write

[2018-01-06 13:17] mainstreet439 opened #160 "JDBC driver DatabaseMetadata.getTables returns all tables irrespective of tablename parameter it is passed"
as originally noted at https://community.mapd.com/t/jdbc-driver-databasemetadata-gettables-returns-all-tables-irrespective-of-tablename-parameter-it-is-passed/926

MAPD version 3.3.1-20171108-32e7bcc

The following method call should return 0 rows because the specified tablename parameter does not correspond to a valid table/view. The method will return a Resultset of all objects because it fails